<template>
  <div>
    <CRow>
      <CCol>
        <CToaster :autohide="3000">
          <template v-for="toast in fixedToasts">
            <CToast
              :key="'toast' + toast"
              :show="true"
              header="Data Save Successful"
              color="primary"
              >{{ message }}</CToast
            >
          </template>
        </CToaster>
      </CCol>
    </CRow>
    <CRow>
      <CCol col="12">
        <CCard>
          <CCardBody>
            <CForm ref="addCourseForm" @submit.prevent="addCourse()">
              <h1 class="text-center" v-if="!isEdit">Add Course</h1>
              <h1 class="text-center" v-else>Edit Course</h1>
              <p class="text-muted text-center">
                Kindly verify all details before submitting
              </p>
              <CRow>
                <CCol sm="10" lg="6">
                  <CInput
                    label="Title"
                    required
                    v-model="title"
                    horizontal
                    placehoder="Enter Course Title"
                  />
                </CCol>

                <CCol sm="10" lg="6">
                  <CInput
                    label="Price (in rupees)"
                    required
                    type="number"
                    v-model="price"
                    horizontal
                    placehoder="Enter price"
                  />
                </CCol>
                <CCol sm="10" lg="6">
                  <CInput
                    label="M.R.P (in rupees)"
                    required
                    type="number"
                    v-model="mrp"
                    horizontal
                    placehoder="Enter M.R.P"
                  />
                </CCol>
                <CCol sm="10" lg="6">
                  <CInput
                    label="Course Validity (in Days)"
                    required
                    type="number"
                    v-model="courseValidity"
                    horizontal
                    placehoder="Enter Course Validity"
                  />
                </CCol>
                <CCol sm="10" lg="6">
                  <CInput
                    label="Duration (in mins)"
                    required
                    type="number"
                    v-model="duration"
                    horizontal
                    placehoder="Enter duration"
                  />
                </CCol>
                <CCol sm="10" lg="6">
                  <CInput
                    label="Lecture Count"
                    required
                    type="number"
                    v-model="lectureCount"
                    horizontal
                    placehoder="Enter lecture Count"
                  />
                </CCol>
                <CCol sm="10" lg="6">
                  <CSelect
                    label="Course Type"
                    required
                    :value.sync="courseType"
                    :options="courseTypeList"
                    horizontal
                    placehoder="Select Course type"
                  />
                </CCol>
                <CCol sm="10" lg="6">
                  <CSelect
                    label="Promotion Type"
                    required
                    :value.sync="isNew"
                    :options="[
                      { value: '0', label: 'Normal' },
                      { value: '1', label: 'Just launched courses' },
                      { value: '2', label: 'Best Selling Courses' },
                      { value: '3', label: 'Top 10' },
                      { value: '4', label: 'Recommended' },
                    ]"
                    horizontal
                    placehoder="Select Course type"
                  />
                </CCol>
                <!-- paste belo inside multi select change course to test series a-->
                <CCol sm="10" lg="6" xs="6" class="lab">
                  <multiselect
                    v-model="testSeriesId"
                    :options="testSeriesList"
                    :allow-empty="false"
                    :searchable="true"
                    :internal-search="true"
                    label="title"
                    :hide-selected="true"
                    :multiple="true"
                    horizontal
                    placehoder="Select testSeries"
                    track-by="testSeriesId"
                  >
                  </multiselect
                ></CCol>
                <CCol sm="10" lg="6">
                  <CInputFile
                    label="Thumbnail"
                    @change="handleFileUpload($event, 'thumbnail')"
                    horizontal
                    placehoder="Enter Thumbnail"
                  ></CInputFile>
                </CCol>
                <CRow> </CRow>
                <CCol col="12">
                  <quill-editor
                    ref="quillEditor"
                    class="editor"
                    v-model="description"
                    :options="editorOption"
                    @blur="onEditorBlur($event)"
                    @focus="onEditorFocus($event)"
                    @ready="onEditorReady($event)"
                  />
                </CCol>
              </CRow>

              <CRow>
                <CCol col="12" class="text-center p-4">
                  <CButton type="submit" :disabled="disabled" color="success">
                    Submit</CButton
                  >
                </CCol>
              </CRow>
            </CForm>
          </CCardBody>
        </CCard>
      </CCol>
    </CRow>
    <CModal
      title="Data Saved Successfully"
      :closeOnBackdrop="false"
      backdrop
      centered
      size="sm"
      :show.sync="successModal"
    >
      <CRow>
        <CCol col="6">
          <CButton
            style="height: 80% padding:3% "
            to="/courseList"
            color="info"
          >
            Go to Courses
          </CButton>
        </CCol>

        <CCol col="6">
          <CButton
            style="height: 96%"
            v-if="!isEdit"
            @click="resetForm()"
            color="info"
          >
            Add more
          </CButton>
        </CCol>
      </CRow>
      <div slot="header">
        <CCol col="12">
          {{ message }}
        </CCol>
      </div>
      <div slot="footer-wrapper"></div>
    </CModal>
  </div>
</template>

 

<script>
import "quill/dist/quill.core.css";
import "quill/dist/quill.snow.css";

// You can also register Quill modules in the component
import Quill from "quill";
import { quillEditor } from "vue-quill-editor";
import { ajaxCallMixin } from "../../components/HttpCommon";
import Multiselect from "vue-multiselect";

import { localDb } from "../../components/localDb";
export default {
  name: "AddCourse",
  mixins: [ajaxCallMixin, localDb],
  components: {
    quillEditor,
    Multiselect,
  },
  data() {
    return {
      disabled: false,
      title: "",
      companyId: this.get("userCompanyId"),
      companyList: [],
      duration: 0,
      description: "",
      lectureCount: 0,
      price: 0,
      currentAlertCounter: 0,
      fields: [],
      courseType: 1,
      mrp: 0,
      courseValidity: 0,
      message: "",
      isNew: 0,
      courseTypeList:[],
      editorOption: {
        placehoder: "Enter Description",
        theme: "snow",
      },
      fixedToasts: 0,
      testSeriesList: [],
      testSeriesId: [],
      successModal: false,
    };
  },
  computed: {
    token: function () {
      return this.getToken();
    },
    editor() {
      return this.$refs.myQuillEditor.quill;
    },
    isEdit: function () {
      if (this.$route.params.courseId) {
        return true;
      }
      return false;
    },
  },

  methods: {
    addCourse() {
      this.disabled = true;
      let param = {};
      let data = {};
      let courseId = this.$route.params.courseId;
      data.courseId = courseId;
      data.courseName = this.title;
      data.duration = this.duration;
      data.price = this.price;
      data.lectureCount = this.lectureCount;
      data.description = this.description;
      data.companyId = this.get("userCompanyId");
      data.tags = this.tags;
      data.courseType = this.courseType;
      data.isNew = this.isNew;
      data.mrp = this.mrp;

      data.testSeriesId = this.arrayColumn(this.testSeriesId, "testSeriesId");
      data.courseValidity = this.courseValidity;

      let url = "course/course/addEditVideoCourse";
      param.data = data;
      param.token = this.token;

      this.ajaxCall(url, param, this.callBackAddEditCourse, this.fields);
    },
    populateCourseDetails(apiResponse) {
      if (apiResponse.error != true) {
        this.title = apiResponse.data.courseName;
        this.duration = apiResponse.data.duration;
        this.price = apiResponse.data.price;
        this.lectureCount = apiResponse.data.lectureCount;
        this.description = apiResponse.data.description;
        this.courseType = apiResponse.data.courseType;
        this.isNew = apiResponse.data.isNew;
        this.mrp = apiResponse.data.mrp;
        this.courseValidity = apiResponse.data.courseValidity;
      }
    },
    getCompanyTestSeries() {
      this.companyTestSeries = false;
      var param = {};
      var data = {};
      data["limit"] = 0;
      data["companyId"] = this.get("userCompanyId");

      var url = "company/company/getCompanyTestSeries";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.populateCompanyTestSeries);
    },

    populateCompanyTestSeries(apiResponse) {
      let test = apiResponse.data.testSeriesList;
      this.testSeriesList = test.map((item, id) => {
        return { ...item, id };
      });
    },

    getCourseDetails() {
      let param = {};
      let data = {};
      data.courseId = this.$route.params.courseId;
      let url = "course/course/getVideoCourseDetails";
      param.data = data;
      param.token = this.token;
      this.ajaxCall(url, param, this.populateCourseDetails);
    },
    callBackAddEditCourse(apiResponse) {
      /* this.fixedToasts++;
      this.currentAlertCounter = 10;
      this.alertColor = "success"; */
      if (this.isEdit) {
        this.message = apiResponse.message;
      } else {
        this.message = "Course successfully added";
      }
      this.disabled = false;
      this.successModal = true;
    },
    getCourseTypes() {
      this.companyTestSeries = false;
      var param = {};
      var data = {};
      data["limit"] = 0;
      data["companyId"] = this.get("userCompanyId");

      var url = "course/misc/getCourseTypes";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.populateCourseTypes);
    },
    populateCourseTypes(apiResponse){
        if (apiResponse.error != true) {
        let courseTypeList = apiResponse.data.categoryList;
        apiResponse = "";
        this.courseTypeList = this.changeListToSelect(
          courseTypeList,
          "id",
          "title"
        );
      }
    },
    resetForm() {
      window.location.reload();
    },
  },
  created() {
    if (this.$route.params.courseId) {
      this.getCourseDetails();
    }
    this.getCourseTypes();
    this.getCompanyTestSeries();
  },
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style>
</style>
