<template>
  <div>
    <CCard bodyWrapper>
      <CToaster :autohide="3000">
        <template v-for="toast in fixedToasts">
          <CToast
            :key="'toast' + toast"
            :show="true"
            header="Data save Successful"
            color="primary"
            >{{ message }}</CToast
          >
        </template>
      </CToaster>
      <CForm ref="addVideoForm" @submit.prevent="addCourseVideo()" wasValidated>
        <CRow>
          <CCol lg="6" xs="12" sm="12" md="12">
            <CInput
              required
              label="Video Title"
              v-model="title"
              horizontal
              placeholder="Enter Title"
            />
          </CCol>
          <CCol lg="6" xs="12" sm="12" md="12" v-if="this.hostedAt == 1">
            <CInput
              required
              label="Video ID"
              v-model="youtubeVideoId"
              horizontal
              placeholder="Enter Video Key"
            />
          </CCol>

          <CCol lg="6" xs="12" sm="12" md="12" v-if="this.hostedAt == 3">
            <CInput
              label="Url"
              v-model="url"
              horizontal
              placeholder="Enter url"
            />
          </CCol>

          <CCol lg="6" xs="12" sm="12" md="12">
            <CRow>
              <label class="col-form-label col-sm-3" for="courseName">
                Course
              </label>
              <CCol lg="9" xs="12" sm="12" md="12">
                <multiselect
                  v-model="courseId"
                  :options="courseList"
                  :allow-empty="false"
                  :searchable="true"
                  :internal-search="true"
                  label="courseName"
                  :hide-selected="true"
                  :multiple="true"
                  placeholder="Select Course"
                  track-by="courseId"
                  style="height: 3%;
                  width:102%;
                  border radius: 5px;
                  padding: -2% 29% -3% -12%;
                  margin: -1% -7% 4% -2%;
                  background-color: white;
                  min-width:258px;"
                >
                </multiselect
              ></CCol> </CRow
          ></CCol>

          <CCol lg="6" xs="12" sm="12" md="12">
            <CRow>
              <label class="col-form-label col-sm-3" for="eventDateTime">
                Class Time</label
              >
              <CCol xs="10" sm="9" lg="9" md="9" style="padding-left: 10px">
                <v-date-picker
                  v-model="eventDateTime"
                  mode="dateTime"
                  :model-config="{
                    type: 'string',
                    mask: 'YYYY-MM-DD HH:mm:ss',
                  }"
                  is-required
                  is24hr
                >
                  <template v-slot="{ inputValue, inputEvents }"
                    ><input
                      label="Class Time"
                      class="form-control"
                      required
                      :value="inputValue"
                      v-on="inputEvents"
                      placeholder="Enter Class Duration"
                    />
                  </template>
                </v-date-picker>
              </CCol>
            </CRow>
          </CCol>
          <CCol lg="6" xs="12" sm="12" md="12">
            <CInput
              required
              label="Duration"
              v-model="duration"
              horizontal
              type="number"
            />
          </CCol>
          <CCol lg="6" xs="12" sm="12" md="12">
            <CSelect
              label="Category"
              required
              :value.sync="videoCategory"
              :options="videoCategoryList"
              horizontal
              @update:value="getSubCategoryList()"
              placeholder="Select Category"
            />
          </CCol>
          <CCol lg="6" xs="12" sm="12" md="12">
            <CSelect
              label="Sub-Category"
              required
              :value.sync="subCatId"
              :options="subCatList"
              :disabled="subCatDisable"
              horizontal
              placeholder="Select Sub-Category"
            />
          </CCol>
          <CCol lg="6" xs="12" sm="12" md="12">
            <CInputFile
              horizontal
              label="Thumbnail"
              ref="fileUpload"
              @change="handleFileUpload($event, 'thumbnail')"
              placeholder="Enter Thumbnail"
            ></CInputFile>
          </CCol>

          <CCol lg="6" xs="12" sm="12" md="12">
            <CInputFile
              horizontal
              label="PDF"
              ref="fileUpload"
              accept="application/pdf"
              @change="handleFileUpload($event, 'pdf')"
              placeholder="Select pdf"
            ></CInputFile>
          </CCol>
          <CCol col="3">
            <CInputCheckbox
              variant="outline"
              size="lg"
              color="success"
              shape="pill"
              :checked.sync="chatEnabled"
              label="Enable Chat"
            />
          </CCol>

          <CCol col="3">
            <CInputCheckbox
              variant="outline"
              size="lg"
              color="success"
              label="Paid Video"
              shape="pill"
              :checked.sync="isPaid"
            />
          </CCol>
        </CRow>
        <CRow>
          <CCol col="12" align="center">
            <CButton type="submit"   :disabled="disabled" color="success">{{
              modalTitle
            }}</CButton>
          </CCol>
        </CRow>
      </CForm>
    </CCard>
     <CModal
      title="Data Saved Successfully"
      :closeOnBackdrop="false"
      backdrop
      centered
      size="sm"
      :show.sync="successModal"
    >
      <CRow>
        <CCol col="6">
          <CButton
            style="height: 80% padding:3% "
            to="/courseList"
            color="info"
          >
            Go to Courses
          </CButton>
        </CCol>

        <CCol col="6">
          <CButton
            style="height: 96%"
            v-if="!isEdit"
            @click="resetForm()"
            color="info"
          >
            Add more
          </CButton>
        </CCol>
      </CRow>
      <div slot="header">
        <CCol col="12">
          {{ message }}
        </CCol>
      </div>
      <div slot="footer-wrapper"></div>
    </CModal>
  </div>
</template>
<script>
import { ajaxCallMixin } from "../../components/HttpCommon";
import { localDb } from "../../components/localDb";
import Multiselect from "vue-multiselect";
export default {
  name: "Add Videos",
  mixins: [ajaxCallMixin, localDb],
  created() {
    this.getToken();
    this.getVideoCategoryList();
    this.getCourseList();
  },
  components: {
    Multiselect,
  },
  data() {
    return {
      videoList: [],
      title: "",
      hostedAt: this.$route.params.hostedAt,
      url: "",
      isPaid: false,
      chatEnabled: false,
      duration: 60,
      password: "",
      details: [],
      fields: [],
      collapseDuration: 0,
      videoModal: false,
      videoModal3: false,
      eventDateTime: "",
      disabled: false,
      videoId: 0,
      youtubeVideoId: "",
      modalTitle: "Add Video",
      fixedToasts: 0,
      message: "",
      videoCategory: 40,
      videoCategoryList: [],
      videoCount: 0,
      pages: 1,
      page: 1,
      filters: {},
      loading: true,
      index: 0,
      subCatId: 0,
      subCatList: [],
      subCatDisable: true,
      pdfModal: false,
      pdfUrl: null,
      courseList: [],
      courseId: [],
      successModal: false,
      id:0
    };
  },
  methods: {
    getVideoCategoryList() {
      let param = {};
      let data = {};
      data.companyId = this.get("userCompanyId");
      let url = "course/misc/getVideoCategoryList";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.generateVideoCategoryList);
    },
    generateVideoCategoryList(apiResponse) {
      if (apiResponse.error != true) {
        const categoryList = apiResponse.data.categoryList;

        this.videoCategoryList = this.changeListToSelect(
          categoryList,
          "id",
          "categoryName"
        );
      }
    },
    getSubCategoryList() {
      this.subCatDisable = true;
      let param = {};
      let data = {};
      data.catId = this.videoCategory;
      this.subCatId = this.videoCategory;
      let url = "course/misc/getSubCatList";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.generateSubCategoryList);
    },
    generateSubCategoryList(apiResponse) {
      if (apiResponse.error != true) {
        const subCatList = apiResponse.data.subCatList;
        this.subCatList = this.changeListToSelect(
          subCatList,
          "id",
          "subCategory"
        );
      }
      this.subCatDisable = false;
    },
    addCourseVideo() {
      this.disabled = true;
      let param = {};
      let data = {};
      data.courseId = this.arrayColumn(this.courseId, "courseId");
      data.videoId = this.videoId;
      data.title = this.title;
      data.hostedAt = this.hostedAt;
      if (data.hostedAt == 3) {
        data.url = this.url;
      } else {
        data.url = `https://www.youtube.com/watch?v=${this.youtubeVideoId}`;
      }
      data.isPaid = this.isPaid;
      data.chatEnabled = this.chatEnabled;
      data.duration = this.duration;
      data.password = this.password;
      data.videoCategory = this.videoCategory;
      data.subCatId = this.subCatId;
      data.eventDateTime = this.eventDateTime;
      data.id = this.id;
      let url = "course/course/addVideoToCourse";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.addVideoCallBack, this.fields);
    },
    addVideoCallBack() {
      // this.fixedToasts++;
      // this.message = "Video added, Successfully";
      // this.alertColor = "success";
      this.disabled = false;
      this.successModal = true;
    },
    // resetForm1() {
    //   if (!this.addVideoForm) {
    //     this.fields = [];
    //     this.$refs.addVideoForm.reset();
    //     this.$refs.fileUpload.value = null;
    //   }
   
   resetForm() {
      window.location.reload();
    },
    generateCourseList(apiResponse) {
      if (apiResponse.error != true) {
        this.courseList = apiResponse.data.courseList;
      }
    },
    getCourseList() {
      let param = {};
      let data = {};
      data.limit = 0;
      data.companyId = this.get("userCompanyId");

      let url = "course/course/getVideoCourseList";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.generateCourseList);
    },
  },
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style>
.multiselect__select {
  position: absolute;
  width: 80px;
  height: 32px;
  right: 1px;
  top: 1px;
  padding: 4px 8px 0px 8px;
  text-align: center;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}
.multiselect__tags {
  min-height: 35px;
  display: block;
  padding: 2px 40px 0px 8px;
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  background: #fff;
  font-size: 14px;
}
.multiselect__placeholder {
    color: #adadad;
    display: inline-block;
    margin-bottom: 10px;
    padding-top: 2px;
    padding-left: 1.5%;
}
.col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 4px;
}
@media screen and (max-width: 600px) {
  .multiselect{
                  
                  width: 40px ;             
              
  }}


@media screen and (max-width: 1024px) {
  .multiselect{
                  
                  width: 67px ;             
              
  }}
</style>

