<template>
  <div>
    <CRow>
      <CCol sm="12">
        <CToaster :autohide="3000">
          <template v-for="toast in fixedToasts">
            <CToast
              :key="'toast' + toast"
              :show="true"
              header="Data save Successful"
              color="primary"
              >{{ message }}</CToast
            >
          </template>
        </CToaster>
        <template>
          <CCard bodyWrapper>
            <CRow>
              <CCol col="12">
                <strong class="h4"> {{ courseName }}</strong>
              </CCol>
              <!-- <CCol
                col="3"
                style="
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                "
              >
                <CButton color="success" to="/addVideo/1">Add Videos</CButton>
              </CCol> -->
              <!-- <CCol
                col="3"
                style="
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                "
              > -->
              <!-- <CButton color="primary" to="/course/AddVideo/3"
                  >Add Youtube Video</CButton
                > -->
              <!-- </CCol> -->
              <CCol sm="2" lg="4">
                <CCallout color="success">
                  <small class="text-muted">Total Videos</small><br />
                  <strong class="h4"> {{ videoCount }}</strong>
                </CCallout>
              </CCol>
               <CCol col="3">
                    <CButton color="success" @click="showVideoExcelModal()"
                      >Upload Videos Excel</CButton
                    >
              </CCol>
            </CRow>
            <CDataTable
              :items="videoList"
              :fields="tableFields"
              :columnFilter="{ external: true }"
              :items-per-page="30"
              hover
              sorter
              :loading="loading"
              fixed
              bordered
              :columnFilterValue.sync="filters"
              @update:column-filter-value="getVideoList(0)"
            >
              <template #title="{ item }">
                <div style="margin-left: 2px; margin-right: 10px">
                  <div @click="imagePreview(item)">
                    <CImg :src="item.thumbnail" 
                    class="classthumbnail" />
                  </div>
                  <div
                    style="
                      height: 100%;
                      align-items: right;
                      margin: -31px 6px 18px 132px;
                    "
                  >
                    {{ item.title }}
                  </div>
                </div>
              </template>
              <template #eventDateTime-filter="{}">
                <CRow>
                  <CCol col="5">
                    <input
                      type="date"
                      :value="new Date(startDate).toISOString().substr(0, 10)"
                      @change="setDateFilter"
                      class="mr-2"
                    />
                  </CCol>
                  <CCol col="5">
                    <input
                      type="date"
                      :value="new Date(endDate).toISOString().substr(0, 10)"
                      @change="(e) => setDateFilter(e, 'end')"
                    />
                  </CCol>
                </CRow>
              </template>
              <template #categoryName-filter="{}">
                <CRow style="margin-bottom: 0px">
                  <CCol
                    col="12"
                    style="margin-bottom: 0; height: 5px; width: 10px"
                  >
                    <div
                      style="
                        margin: -26px -5px -2px -6px;
                        width: 10rem;
                        margin-top: -25px;
                      "
                    >
                      <CSelect
                        style="margin-bottom: 0px"
                        required
                        :value.sync="filterVidCat"
                        :options="videoCategoryList"
                        horizontal
                        @update:value="getVideoList(0)"
                        placeholder="Select Category"
                      />
                    </div>
                  </CCol>
                </CRow>
              </template>
            <template #subCategory-filter="{}">
                <CRow style="margin-bottom: 0px">
                  <CCol
                    col="12"
                    style="margin-bottom: 0; height: 5px; width: 10px"
                  >
                    <div
                      style="
                        margin: -26px -5px -2px -6px;
                        width: 10rem;
                        margin-top: -25px;
                      "
                    >
                      <CSelect
                        style="margin-bottom: 0px"
                        required
                        :value.sync="filterSubVidCat"
                        :options="subCatList"
                        horizontal
                        @update:value="getVideoList(0)"
                        placeholder="Select subCategory"
                      />
                    </div>
                  </CCol>
                </CRow>
              </template>

              <template #actions="{ item }">
                <td class="py-2">
                  <CButton
                    color="primary"
                    variant="outline"
                    square
                    size="sm"
                    @click="editVideo(item)"
                  >
                    <i class="cil-pen-alt"></i
                    ><CIcon name="cil-pencil" /> Edit</CButton
                  >

                  <CButton
                    color="primary"
                    variant="outline"
                    square
                    size="sm"
                    @click="showDeleteVideoModal(item)"
                  >
                    <CIcon name="cil-ban" />
                    Delete
                  </CButton>

                  <CButton
                    color="success"
                    square
                    size="sm"
                    @click="openPdfModal(item)"
                  >
                    <CIcon name="cil-file" /> PDF
                  </CButton>
                  <CButton
                    color="success"
                    v-if="item.chatEnabled == 1"
                    square
                    size="sm"
                    @click="openChatWindow(item)"
                  >
                    <CIcon name="cil-envelope-closed" /> Open Chat
                  </CButton>
                </td>
              </template>
            </CDataTable>
            <CPagination
              :activePage.sync="page"
              :pages="pages"
              @update:activePage="pageChanged()"
              align="start"
            />
          </CCard>
        </template>
      </CCol>
    </CRow>

    <CModal title="PDF" size="lg" :show.sync="pdfModal">
      <CForm ref="pdfForm" @submit.prevent="uploadPdf()" wasValidated>
        <CRow>
          <CCol col="6">
            <CInputFile
              horizontal
              label="Select Pdf"
              ref="fileUpload"
              @change="handleFileUpload($event, 'pdf')"
              placeholder="Select pdf"
              accept="application/pdf" 
            ></CInputFile>
          </CCol>
        </CRow>

        <CRow alignHorizontal="between">
          <CCol col="4">
            <CLink
              v-if="pdfUrl"
              class="btn btn-info btn-md"
              :href="pdfUrl"
              target="_blank"
              >Show pdf
            </CLink>
          </CCol>
          <CCol col="4">
            <CButton type="submit" :disabled="disabled" color="primary">
              Upload pdf
            </CButton>
          </CCol>
          <CCol col="3">
            <CButton
              v-if="pdfUrl"
              class="btn btn-danger btn-md"
              @click="deletePdf"
              >Delete pdf
            </CButton>
          </CCol>
        </CRow>
      </CForm>
      <div slot="footer-wrapper"></div>
    </CModal>

    <CModal :title="modalTitle" size="lg" :show.sync="videoModal">
      <CForm ref="addVideoForm" @submit.prevent="addCourseVideo()" wasValidated>
        <CRow>
          <CCol col="6">
            <CInput
              required
              label="Video Title"
              v-model="title"
              horizontal
              placeholder="Enter Title"
            />
          </CCol>
          <CCol col="6" v-if="this.hostedAt == 1">
            <CInput
              required
              label="Video ID"
              v-model="youtubeVideoId"
              horizontal
              placeholder="Enter Video Key"
            />
          </CCol>
          <CCol col="6" v-if="this.hostedAt == 3">
            <CInput
              label="Url"
              v-model="url"
              horizontal
              placeholder="Enter url"
            />
          </CCol>

          <CCol col="6">
            <CRow>
              <label class="col-form-label col-sm-3" for="eventDateTime">
                Class Time
              </label>

              <CCol col="9" style="padding-left: 10px">
                <v-date-picker
                  v-model="eventDateTime"
                  mode="dateTime"
                  :model-config="{
                    type: 'string',
                    mask: 'YYYY-MM-DD HH:mm:ss',
                  }"
                  is-required
                  is24hr
                >
                  <template v-slot="{ inputValue, inputEvents }"
                    ><input
                      class="form-control"
                      required
                      :value="inputValue"
                      v-on="inputEvents"
                    />
                  </template>
                </v-date-picker>
              </CCol>
            </CRow>
          </CCol>
          <CCol col="6">
            <CInput
              required
              label="Duration"
              v-model="duration"
              horizontal
              type="number"
              placeholder="Enter class Duration"
            />
          </CCol>
          <CCol col="6">
            <CSelect
              label="Category"
              required
              :value.sync="videoCategory"
              :options="videoCategoryList"
              horizontal
              @update:value="getSubCategoryList()"
              placeholder="Select Category"
            />
          </CCol>
          <CCol col="6">
            <CSelect
              label="Sub-Category"
              required
              :value.sync="subCatId"
              :options="subCatList"
              :disabled="subCatDisable"
              horizontal
              placeholder="Select Sub-Category"
            />
          </CCol>
          <CCol col="6">
            <CInputFile
              horizontal
              label="Thumbnail"
              ref="fileUpload"
              @change="handleFileUpload($event, 'thumbnail')"
              placeholder="Enter Thumbnail"
            ></CInputFile>
          </CCol>

          <CCol col="6">
            <CInputFile
              horizontal
              label="PDF"
              ref="fileUpload"
              @change="handleFileUpload($event, 'pdf')"
              placeholder="Select pdf"
              accept="application/pdf"
            ></CInputFile>
          </CCol>
          <CCol col="3">
            <CInputCheckbox
              variant="outline"
              size="lg"
              color="success"
              shape="pill"
              :checked.sync="chatEnabled"
              label="Enable Chat"
            />
          </CCol>

          <CCol col="3">
            <CInputCheckbox
              variant="outline"
              size="lg"
              color="success"
              label="Paid Video"
              shape="pill"
              :checked.sync="isPaid"
            />
          </CCol>
        </CRow>
        <CRow>
          <CCol col="12" align="center">
            <CButton type="submit" :disabled="disabled" color="success">{{
              modalTitle
            }}</CButton>
          </CCol>
        </CRow>
      </CForm>
      <div slot="footer-wrapper"></div>
    </CModal>

    <CModal
      title="Do you really want to delete this video?"
      size="lg"
      :show.sync="deletevideoModal"
    >
      <CForm @submit.prevent="deleteVideo()" wasValidated>
        <CRow>
          <CCol col="2">
            <CButton type="submit" color="danger"> Delete </CButton>
          </CCol>
          <CCol>
            <CButton @click="stope()" color="info"> Cancel </CButton>
          </CCol>
        </CRow>
      </CForm>
      <div slot="footer-wrapper"></div>
    </CModal>

   <CModal title="Upload Class Excel" size="lg" :show.sync="videoExcelModal">
      <CForm @submit.prevent="uploadCourseVideoExcel()" wasValidated>
        <CRow>
          <CCol col="6">
            <CInputFile type="file"
              horizontal
              label="Class Excel"
              required
              @change="handleFileUpload($event, 'excelFile')"
              placeholder="Select Excel"
            ></CInputFile>
          </CCol>

          <CCol col="6">
            <CInputFile type="file"
              horizontal
              label="Thumbnail"
              @change="handleFileUpload($event, 'thumbnail')"
              placeholder="Enter Thumbnail"
            ></CInputFile>
          </CCol>

          <CCol col="6">
            <CInputFile type="file"
              horizontal
              label="PDF"
              @change="handleFileUpload($event, 'pdf')"
              placeholder="Select pdf"
              
            ></CInputFile>
          </CCol>
        </CRow>

        <CRow>
          <CCol col="12" align="center">
            <CButton type="submit" :disabled="disabled" color="success">{{
              modalTitle
            }}</CButton>
          </CCol>
        </CRow>
      </CForm>
      <div slot="footer-wrapper"></div>
    </CModal>

  </div>
</template>

<script>
import { ajaxCallMixin } from "../../components/HttpCommon";
import { localDb } from "../../components/localDb";
const tableFields = [
  { key: "title", _style: "width:30%" },
  { key: "eventDateTime", _style: "width:20%;", label: "Class Date Time" },
  { key: "categoryName", _style: "width:15%;", label: "Video Category" },
  { key: "subCategory", _style: "width:15%;", label: "Sub Category" },

  {
    key: "actions",
    _style: "width:25%;",
    sorter: false,
    filter: false,
    label: "Actions",
  },
];
export default {
  name: "videoList",
  mixins: [ajaxCallMixin, localDb],
  created() {
    this.getToken();
    this.getVideoCategoryList();
    this.getSubCategoryList();
    this.getVideoList();
    this.courseName = this.get("courseMap")[this.$route.params.courseId];
  },
  data() {
    return {
      videoList: [],
      tableFields,
      title: "",
      hostedAt: 1,
      url: "",
      isPaid: false,
      chatEnabled: false,
      duration: 60,
      password: "",
      details: [],
      fields: [],
      collapseDuration: 0,
      videoModal: false,
      videoModal3: false,
      eventDateTime: "",
      disabled: false,
      videoId: 0,
      youtubeVideoId: "",
      modalTitle: "Add Video",
      fixedToasts: 0,
      message: "",
      videoCategory: 40,
      videoCategoryList: [],
      videoCount: 0,
      pages: 1,
      page: 1,
      filters: {},
      loading: true,
      index: 0,
      subCatId: 0,
      subCatList: [],
      subCatDisable: true,
      pdfModal: false,
      pdfUrl: null,
      startDate: new Date(new Date().setFullYear(new Date().getFullYear() - 1)),
      endDate: new Date(new Date().setUTCDate(new Date().getUTCDate() + 10)),
      filterVidCat: 0,
      filterSubVidCat:0,
      deletevideoModal: false,
      disabled: false,
      courseName: "",
      id:0,
      videoExcelModal:false,
      offset:0
    };
  },
  methods: {
    imagePreview(item) {},
    setDateFilter(e, end) {
      if (end) {
        this.endDate = new Date(e.target.value);
      } else {
        this.startDate = new Date(e.target.value);
      }
      this.getVideoList();
    },
    generateVideoList(apiResponse) {
      if (apiResponse.error != true) {
        this.videoList = apiResponse.data.videoList;
      }
      this.videoCount = apiResponse.data.videoCount;
      this.pages = Math.ceil(apiResponse.data.videoCount / 30);

      this.loading = false;
      this.disabled = false;
      this.videoModal = false;
    },
    getVideoList(offset = 0) {
      let param = {};
      let courseId = this.$route.params.courseId;
      let data = {};
      data.courseId = courseId;
      data.offset = offset;
      data.limit = 30;
      data.filters = this.filters;
      data.filters.startDate = this.startDate;
      data.filters.endDate = this.endDate;
      data.filters.videoCategory = this.filterVidCat;
      data.filters.subCatId = this.filterSubVidCat;
      let url = "course/course/getVideoList";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.generateVideoList);
    },
     showVideoExcelModal() {
      this.videoId = 0;
      this.title = "";
      this.url = "";
      this.isPaid = 0;
      this.chatEnabled = 0;
      this.duration = 0;
      this.password = "";
      this.eventDateTime = "";
      this.modalTitle = "Add Video";
      this.videoExcelModal = true;
      this.fields = [];
    },
    
    uploadCourseVideoExcel() {
      this.disabled = true;
      var param = {};
      var courseId = this.$route.params.courseId;
      var data = { courseId: courseId };
      data.hostedAt = 1;
      data.isPaid = 1;
      data.chatEnabled = 0;
      data.duration = 60;
      data.password = "";
      data.eventDateTime = this.eventDateTime;
      var url = "course/course/uploadVideoToCourse";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.getVideoList, this.fields);
    },
    pageChanged() {
      let offset = 30 * (this.page - 1);
      this.offset = offset;
      this.getVideoList(offset);
    },

    getVideoCategoryList() {
      let param = {};
      let courseId = this.$route.params.courseId;
      let data = { courseId: courseId };
      let url = "course/misc/getVideoCategoryList";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.generateVideoCategoryList);
    },
    generateVideoCategoryList(apiResponse) {
      if (apiResponse.error != true) {
        const categoryList = apiResponse.data.categoryList;
        this.videoCategoryList = this.changeListToSelect(
          categoryList,
          "id",
          "categoryName"
        );
      }
    },
    getSubCategoryList() {
      this.subCatDisable = true;
      let param = {};
      let courseId = this.$route.params.courseId;
      let data = { courseId: courseId };
      data.catId = this.videoCategory;
      this.subCatId = this.videoCategory;
      let url = "course/misc/getSubCatList";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.generateSubCategoryList);
    },
    generateSubCategoryList(apiResponse) {
      if (apiResponse.error != true) {
        const subCatList = apiResponse.data.subCatList;
        this.subCatList = this.changeListToSelect(
          subCatList,
          "id",
          "subCategory"
        );
        let idmap = this.arrayColumn(subCatList,null,"id");
        if(idmap[this.subCatId]==undefined || idmap[this.subCatId] == null) {
          this.subCatId = subCatList[0].id;
        }
      }
      this.subCatDisable = false;
    },
    showVideoModal() {
      this.videoId = 0;
      this.title = "";
      this.url = "";
      this.isPaid = false;
      this.chatEnabled = false;
      this.duration = 60;
      this.password = "";
      this.hostedAt = 1;
      this.eventDateTime = "";
      this.subCatId = this.videoCategory = 40;
      this.modalTitle = "Add Video";
      this.videoModal = true;
      this.youtubeVideoId = "";
      this.deleteVideo = true;
    },
    showYtVideoModal() {
      this.videoId = 0;
      this.title = "";
      this.url = "";
      this.isPaid = false;
      this.chatEnabled = false;
      this.duration = 60;
      this.password = "";
      this.hostedAt = 3;
      this.eventDateTime = "";
      this.subCatId = this.videoCategory = 40;
      this.modalTitle = "Add Video";
      this.videoModal = true;
      this.youtubeVideoId = "";
    },
    addCourseVideo() {
      this.disabled = true;
      let param = {};
      let courseId = this.$route.params.courseId;
      let data = { courseId: courseId };
      data.videoId = this.videoId;
      data.title = this.title;
      data.hostedAt = this.hostedAt;
      if (data.hostedAt == 3) {
        data.url = this.url;
      } else {
        data.url = `https://www.youtube.com/watch?v=${this.youtubeVideoId}`;
      }
      data.isPaid = this.isPaid;
      data.chatEnabled = this.chatEnabled;
      data.duration = this.duration;
      data.password = this.password;
      data.videoCategory = this.videoCategory;
      data.subCatId = this.subCatId;
      data.id = this.id;
      data.eventDateTime = this.eventDateTime;
      let url = "course/course/addVideoToCourse";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.addVideoCallBack, this.fields);
    },
    addVideoCallBack() {
      this.fixedToasts++;
      this.message = "Video added, Successfully";
      this.alertColor = "success";
      this.disabled = false;
      this.getVideoList(this.offset);
    },

    editVideo(item) {
      this.videoId = item.videoId;
      this.title = item.title;
      this.hostedAt = item.hostedAt;
      this.url = item.url;
      this.youtubeVideoId = item.url.split("=")[1];
      this.isPaid = Boolean(item.isPaid);
      this.chatEnabled = Boolean(item.chatEnabled);
      this.duration = item.duration;
      this.password = item.password;
      this.videoCategory = item.videoCategory;
      this.id  = item.id;
      this.getSubCategoryList();
      this.subCatId = item.subCatId;
      this.eventDateTime = item.eventDateTime;
      this.modalTitle = "Edit Video";
      this.videoModal = true;
    },
    openChatWindow(item) {
        window.open("http://185.217.125.229:3000/?chatId=" + item.chatId + "&admin=1");
    },
    openPdfModal(item) {
      let param = {};
      let data = {};
      this.videoId = item.videoId;
      this.fields = [];
      this.resetForm();
      this.title = item.title;
      data.videoId = item.videoId;
      let url = "course/pdf/getVideoPdf";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.pdfModalGen);
    },
    pdfModalGen(apiResponse) {
      this.pdfModal = true;
      this.pdfUrl = apiResponse.data.pdfUrl;
    },
    deletePdf() {
      let param = {};
      let data = {};
      data.videoId = this.videoId;
      let url = "course/pdf/deleteVideoPdf";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param);
      this.pdfModal = false;
    },
    uploadPdf() {
      let param = {};
      let data = {};
      data.videoId = this.videoId;
      data.title = this.title;
      let url = "course/pdf/uploadPdf";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.callbackUploadPdf, this.fields);
    },
    callbackUploadPdf(apiResponse) {
      this.fixedToasts++;
      this.message = apiResponse.message;
      this.alertColor = "success";
      if (apiResponse.error) {
        this.alertColor = "warning";
      }
      this.pdfModal = false;
    },
    deleteVideo() {
      let param = {};
      let data = {};
      data.videoId = this.videoId;
      data.id = this.id;
      let url = "course/course/deleteVideo";
      param.data = data;
      param.token = this.getToken();

      this.ajaxCall(url, param, this.deleteVideoCallback);
      //
      this.stope();
    },
    deleteVideoCallback(apiResponse) {
      this.getVideoList(this.offset);
      this.disabled = false;
      this.fixedToasts++;
      this.message = apiResponse.message;
      this.alertColor = "success";
    },

    showDeleteVideoModal(item) {
      this.deletevideoModal = true;
      this.videoId = item.videoId;
      this.id = item.id;
    },

    stope() {
      this.deletevideoModal = false;
    },

    resetForm() {
      if (!this.videoModal) {
        this.fields = [];
        this.$refs.addVideoForm.reset();
        this.$refs.fileUpload.value = null;
      }
    },
  },
};
</script>
<style scoped>
.table-responsive {
  display: inline-block;
  width: 100%;
  overflow-x: scroll;
  height: 20rem;
}
.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 21, 0.05);
  height: 100%;
}
tr {
  height: 100%;
}
.classthumbnail {
  margin: 3px 7px -10px 12px;
  height: 50px;
  padding: 4px 5px 5px 5px;
}
</style>