<template>
  <div>
    <CRow v-show="showCourseList">
      <CCol sm="12">
        <CCard>
          <!--          <CCardHeader>
            <CRow align-vertical="center">
              <CCol sm="2" lg="4">
                <CCallout color="info">
                  <small class="text-muted">Current Video Key</small> <br />
                  <strong class="h4"> {{ youtubeVideoId }}</strong>
                </CCallout> 
              </CCol>
              <CCol sm="2" lg="4">
                <CButton color="info" @click="getCourseList"> Refresh </CButton>
              </CCol>
            </CRow>
          </CCardHeader>
-->
          <CCardBody>
            <CDataTable
              :items="items"
              :fields="fields"
              column-filter
              :items-per-page="20"
              hover
              sorter
              fixed
              pagination
            >
              <template #courseName="{ item }">
                <div style="margin-left: 2px; margin-right: 10px">
                  <div @click="imagePreview(item)">
                    <CImg
                      :src="item.thumbnail"
                      style="
                        margin: 10px 13px 15px 17px;
                        width: 80px;
                        height: 61px;
                      "
                    />
                  </div>

                  <div
                    style="
                      width: 80px;
                      height: 100%;
                      margin: -55px 11px 22px 128px;
                    "
                  >
                    {{ item.courseName }}
                  </div>
                </div></template
              >;

              <template #actions="{ item }">
                <td>
                  <CButton
                    color="primary"
                    variant="outline"
                    square
                    size="sm"
                    @click="showCourseVideoList(item)"
                  >
                    <CIcon name="cil-video" /> Show Videos
                  </CButton>
                  <CButton
                    color="primary"
                    variant="outline"
                    square
                    size="sm"
                    @click="editCourseList(item)"
                    ><i class="bi bi-pencil"></i>
                    <CIcon name="cil-pencil" /> Edit
                  </CButton>
<!-- 
                  <CButton
                    color="primary"
                    variant="outline"
                    square
                    size="sm"
                    @click="showtimeTable(item)"
                    ><i class="bi bi-pencil"></i>
                    <CIcon name="cilGrid" /> Timetable
                  </CButton>
 -->
                  <CButton
                    color="primary"
                    variant="outline"
                    square
                    size="sm"
                    @click="showDeleteModal(item)"
                  >
                    <CIcon name="cil-ban" />
                    Delete
                  </CButton>
                </td>
              </template>
            </CDataTable>
          </CCardBody>
        </CCard>
      </CCol>
    </CRow>
    <CModal
      title="Do you really want to delete this item?"
      size="lg"
      :show.sync="deleteModal"
    >
      <CForm @submit.prevent="deleteCourse()" wasValidated>
        <CRow>
          <CCol col="2">
            <CButton type="submit" color="danger">Delete</CButton>
          </CCol>

          <CCol>
            <CButton @click="stop()" color="info">Cancel</CButton>
          </CCol>
        </CRow>
      </CForm>
      <div slot="footer-wrapper"></div>
    </CModal>
  </div>
</template>
    
    
    
<script>
import { ajaxCallMixin } from "../../components/HttpCommon";
import { localDb } from "../../components/localDb";

const items = [{}];
const fields = [
  { key: "courseId", _style: "width:20%" },
  { key: "courseName", _style: "width:20% " },
  { key: "price", _style: "width:15% " },
  {
    key: "actions",
    label: "",
    _style: "width:25%",
    sorter: false,
    filter: false,
  },
];
export default {
  name: "CourseList",
  mixins: [ajaxCallMixin, localDb],
  created() {
    this.getCourseList();
  },

  data() {
    return {
      items: items.map((item, id) => {
        return { ...item, id };
      }),
      fields,
      details: [],
      courseName: "",
      collapseDuration: 0,
      showCourseList: false,
      companyList: [],
      companyId: this.get("userCompanyId"),
      embedSrc: "",
      youtubeVideoId: "",
      componentKey: 0,
      deleteModal: false,
      disabled: "disabled",
      courseId: 0,
    };
  },
  methods: {
    generateCompanyList(apiResponse) {
      if (apiResponse.error != true) {
        let companyList = apiResponse.data.companyList;
        apiResponse = "";
        this.companyList = this.changeListToSelect(
          companyList,
          "companyId",
          "companyName"
        );
      }
    },
    getCompanyList() {
      let param = {};
      let data = {};
      let url = "company/company/getCompanyList";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.generateCompanyList);
    },
    generateCourseList(apiResponse) {
      if (apiResponse.error != true) {
        let courseList = apiResponse.data.courseList;
        this.items = courseList;

        this.save(
          "courseMap",
          this.arrayColumn(courseList, "courseName", "courseId")
        );
        this.youtubeVideoId = apiResponse.data.videoId;

        // this.embedSrc = "https://www.youtube.com/embed/live_stream?channel="+apiResponse.data.channelId;
      }
    },
    imagePreview(item) {},
    getCourseList() {
      let param = {};
      let data = {};
      data.limit = 0;
      data.companyId = this.get("userCompanyId");
      let url = "course/course/getVideoCourseList";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.generateCourseList);
      this.showCourseList = true;
    },
    toggleDetails(item) {
      this.$set(this.items[item.id], "_toggled", !item._toggled);
      this.collapseDuration = 300;
      this.$nextTick(() => {
        this.collapseDuration = 0;
      });
    },
    showCourseVideoList(item) {
      this.$router.push("/courseVideos/" + item.courseId);
    },
    editCourseList(item) {
      this.$router.push("/editCourse/" + item.courseId);
    },

    showtimeTable(item) {
      this.$router.push("/timeTable/" + item.courseId);
    },

    deleteCourse() {
      let param = {};
      let data = {};
      data.courseId = this.courseId;
      let url = "course/course/deleteVideoCourse";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.getCourseList);
      this.stop();
    },
    showDeleteModal(item) {
      this.deleteModal = true;
      this.courseId = item.courseId;
    },

    stop() {
      this.deleteModal = false;
    },

    showNotesList(item) {
      this.$router.push("/gnotes/" + item.courseId);
    },
  },
};
</script>
<style scoped>
img {
  width: 12rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  height: 4rem;
  margin-left: 2rem;
  margin-right: 2rem;
  align-content: center;
}
.table td {
  padding-top: 1.5rem;
}
</style>

