<template>
  <div>
    <CCard>
      <CCard bodyWrapper>
        <CToaster :autohide="3000">
          <template v-for="toast in fixedToasts">
            <CToast
              :key="'toast' + toast"
              :show="true"
              header="Data save Successful"
              color="primary"
              >{{ message }}</CToast
            >
          </template>
        </CToaster>
        <CForm ref="addNotesForm" @submit.prevent="addGNote()" wasValidated>
          <CRow>
            <CCol col="6">
              <CInput
                required
                label=" Title"
                v-model="title"
                horizontal
                placeholder="Enter Title"
              />
            </CCol>
            <CCol col="6">
              <CSelect
                label="Category"
                required
                :options="videoCategoryList"
                horizontal
                :value.sync="videoCategory"
                placeholder="Select Category"
              />
            </CCol>
            <CCol col="6">
              <CInput
                label="Url"
                v-model="url"
                horizontal
                placeholder="Enter url"
              />
            </CCol>
            <CCol lg="6" xs="12" sm="12" md="12">
              <CRow>
                <label class="col-form-label col-sm-3" for="courseName">
                  Course
                </label>
                <CCol lg="9" xs="12" sm="12" md="12">
                  <multiselect
                    v-model="courseId"
                    :options="courseList"
                    :allow-empty="false"
                    :searchable="true"
                    :internal-search="true"
                    label="courseName"
                    :hide-selected="true"
                    :multiple="true"
                    placeholder="Select Course"
                    track-by="courseId"
                    style="height: 3%;
                  width:102%;
                  border radius: 5px;
                  padding: -2% 29% -3% -12%;
                  margin: -1% -7% 4% -2%;
                  background-color: white;
                  min-width:258px;"
                  >
                  </multiselect
                ></CCol> </CRow
            ></CCol>

            <CCol col="12" align="center">
              <CButton type="submit" :disabled="disabled" color="success">
                Submit
              </CButton>
            </CCol>
          </CRow>
        </CForm>
      </CCard>
      <template>
        <CCard>
          <CDataTable
            :items="notesList"
            :fields="tableFields"
            :columnFilter="{ external: true }"
            :items-per-page="30"
            hover
            sorter
            striped
            fixed
            bordered
          >
            <template #category="{ item }">
              <td>
                {{ videoCatMap[item.catId] }}
              </td>
            </template>
            <template #url="{ item }">
              <CLink :href="item.url" target="_blank"> Click </CLink>
            </template>
            <template #actions="{ item }">
              <td class="py-2">
                <CButton
                  color="primary"
                  variant="outline"
                  square
                  size="sm"
                  @click="deleteGnotes(item)"
                  >Delete</CButton
                >
              </td>
            </template>
          </CDataTable>
        </CCard>
      </template>
    </CCard>
  </div>
</template>

<script>
import { ajaxCallMixin } from "../../components/HttpCommon";
import { localDb } from "../../components/localDb";

const tableFields = [
  { key: "title", _style: "width:20%" },
  { key: "category", _style: "width:20%" },
  { key: "url", _style: "width:20%" },
  {
    key: "actions",
    _style: "width:20%;",
    sorter: false,
    filter: false,
    label: "Actions",
  },
];
import Multiselect from "vue-multiselect";
export default {
  name: "Add Notes",
  mixins: [ajaxCallMixin, localDb],
  created() {
    this.getToken();
    this.getVideoCategoryList();
    this.getGNotesList();
    this.getCourseList();
  },
  components: {
    Multiselect,
  },
  data() {
    return {
      notesList: [],
      videoCategoryList: [],
      companyId: this.get("userCompanyId"),
      companyList: [],
      tableFields,
      videoCategory: 40,
      url: "",
      title: "",
      fixedToasts: 0,
      videoCatMap: {},
      message: "",
      disabled: false,
      courseList: [],
      courseId: [],
      courseId1: [],
    };
  },
  methods: {
    getVideoCategoryList() {
      let param = {};
      let courseId = this.$route.params.courseId;
      let data = { courseId: courseId };
      let url = "course/misc/getVideoCategoryList";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.generateVideoCategoryList);
    },
    generateVideoCategoryList(apiResponse) {
      if (apiResponse.error != true) {
        let categoryList = apiResponse.data.categoryList;
        this.videoCategoryList = this.changeListToSelect(
          categoryList,
          "id",
          "categoryName"
        );
        this.videoCatMap = this.arrayColumn(categoryList, "categoryName", "id");
      }
    },
    getGNotesList() {
      let param = {};
      let data = {};
      data["companyId"] = this.get("userCompanyId"); //thid

      let url = "course/misc/getCourseNotesList";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.generateGList);
    },
    generateGList(apiResponse) {
      if (apiResponse.error != true) {
        this.notesList = apiResponse.data.notesList;
      }
    },
    addGNote() {
      let param = {};
      let data = {};
      data.courseId = this.arrayColumn(this.courseId, "courseId");
      data.catId = this.videoCategory;
      data.title = this.title;
      data.url = this.url;
      data["companyId"] = this.get("userCompanyId");
      let url = "course/misc/addEditCourseNotes";
      param.data = data;
      param.token = this.getToken();
      this.disabled = true;
      this.ajaxCall(url, param, this.addGNoteCallback);
    },
    addGNoteCallback() {
      this.fixedToasts++;
      this.message = "Notes added, Successfully";
      this.alertColor = "success";
      this.disabled = false;
      this.getGNotesList();
    },
    deleteGnotes(item) {
      let param = {};
      let data = { notesId: item.notesId };
      let url = "course/misc/deleteCourseNotes";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.deleteGnotesCallback);
    },
    deleteGnotesCallback(apiResponse) {
      this.fixedToasts++;
      this.message = "Notes deleted, Successfully";
      this.alertColor = "success";
      this.disabled = false;
      this.getGNotesList();
    },
    generateCourseList(apiResponse) {
      if (apiResponse.error != true) {
        this.courseList = apiResponse.data.courseList;
      }
    },
    getCourseList() {
      let param = {};
      let data = {};
      data.limit = 0;
      data.companyId = this.get("userCompanyId");

      let url = "course/course/getVideoCourseList";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.generateCourseList);
    },
  },
};
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style>
</style>