<template>
  <div>
      <CRow>
      <CCol>
        <CAlert color="success" :show.sync="currentAlertCounter" closeButton>
          {{ message }}
          <CProgress
            :max="10"
            :value="currentAlertCounter"
            height="3px"
            color="success"
            animate
          />
        </CAlert>
      </CCol>
    </CRow>
    <CRow>
      <CCol col="12">
        <CCard>
          <CCardBody>
            <CForm @submit.prevent= "addTimetable()" wasValidated>
              <h1 class="text-center">Add Time Table</h1>
              <p class="text-muted text-center">
                Kindly verify all details before submitting
              </p>
              <!-- <CRow>
                <CCol sm="10" lg="4">
                  <CInput
                    label="Title"
                    required
                    v-model="title"
                    placeholder="Enter Title"
                  /> </CCol
              ></CRow> -->

              <!-- <CCol sm="10" lg="4">
                  <CInputFile
                    label="Thumbnail"
                    @change="handleFileUpload($event, 'thumbnail')"
                    placeholder="Enter Thumbnail"
                  ></CInputFile>
                </CCol>
</CRow> -->

              <CRow>
                <CCol>
                  <CTextarea
                    id = "num"
                    type="text"
                    placeholder="Add text here"
                    required
                    v-model="body"
                    label= "Add Time Table"
                  />
                </CCol>
              </CRow>

              <CRow>
                <CCol col="12" class="text-center p-4">
                  <CButton type="submit" :disabled="disabled" color="success"
                    >Save</CButton
                  >
                </CCol>
              </CRow>
            </CForm>
          </CCardBody>
        </CCard>
      </CCol>
    </CRow>
  </div>
</template>

<script>
import "quill/dist/quill.core.css";
import "quill/dist/quill.snow.css";

// You can also register Quill modules in the component
import Quill from "quill";
import { quillEditor } from "vue-quill-editor";
import { ajaxCallMixin } from "../../components/HttpCommon";
import { localDb } from "../../components/localDb";
export default {
  name: "TimeTable",
  mixins: [ajaxCallMixin, localDb],
  components: {
    quillEditor,
  },
  data() {
    return {
      disabled: false,
      title: "",
      companyId: this.get("userCompanyId"),
      body: "",
      sendNow: true,
      notificationTime: "",
      currentAlertCounter: 0,
      fields: [],
    //    editorOption: {
    //     placeholder: "Enter Body",
    //     theme: "snow",
    //     name: "timetable",
    //   },
      message: "",
    };
  },
  computed: {
    token: function () {
      return this.getToken();
    },
  },
  methods: {
    addTimetable() {
      this.disabled = false;
      let param = {};
      let data = {};
      data.sendNow = this.sendNow;
      data.message = this.body;
      data.notificationTime = this.notificationTime;
      data.companyId = this.companyId;
      let url = "timetable/notify/schedulePushtimeTable";
      param.data = data;
      param.token = this.token;
      this.ajaxCall(url, param , this.callBackTimetable, this.fields);
      
    },
  },

  callBackTimetable(apiResponse) {
    this.currentAlertCounter = 5;
    this.message = "Saved successfully";
    this.alertColor = "success";
    this.disabled = false;
  },


  populateList(apiResponse) {
    if (apiResponse.error != true) {
      this.companyList = this.changeListToSelect(
        apiResponse.data.companyList,
        "companyId",
        "companyName"
      );
    }
  },

//   beforeMount() {
//     this.getCompanyDropDown();
//   },
 
};
</script>