<template>
  <div>
    <CToaster :autohide="3000" position="bottom-center">
      <template v-for="toast in fixedToasts">
        <CToast
          :key="'toast' + toast"
          :show="true"
          class="text-white"
          :class="{ 'bg-success': !hasError, 'bg-danger': hasError }"
          >{{ message }}
        </CToast>
      </template>
    </CToaster>

    <CRow v-show="showCandidateList">
      <CCol col="12">
        <CCard>
          <CCardHeader>
            <CRow>
              <CCol
                col="3"
                style="
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                "
              >
                <CButton color="success" @click="showAddCandidateModal()">
                  Add Candidate
                </CButton>
                <CButton color="info" @click="showUploadCandidateModal()">
                  Upload Candidate Excel
                </CButton>
              </CCol>
              <CCol sm="2" lg="4">
                <CCallout color="info">
                  <small class="text-muted">Total Registration</small><br />
                  <strong class="h4"> {{ candidateCount }}</strong>
                </CCallout>
              </CCol>
              <CCol sm="2" lg="4">
                <CButton @click="reloadCandidates()" variant="ghost">
                  <CIcon name="cilReload"></CIcon>
                </CButton>
              </CCol>
            </CRow>
          </CCardHeader>
          <CCardBody>
            <CDataTable
              :items="candidateList"
              :fields="fields"
              :columnFilter="{ external: true }"
              :items-per-page="30"
              hover
              sorter
              striped
              :loading="loading"
              fixed
              bordered
              :columnFilterValue.sync="filters"
              @update:column-filter-value="getCandidateList(0)"
            >
              <template #actions="{ item, index }">
                <td>
                  <CButton
                    color="primary"
                    variant="outline"
                    square
                    size="sm"
                    @click="editCandidateModal(item, index)"
                    >Edit</CButton
                  >

                  <CButton
                    color="primary"
                    variant="outline"
                    square
                    size="sm"
                    @click="showPurchases(item)"
                    >Puchases</CButton
                  >
                  <CButton
                    color="primary"
                    variant="outline"
                    square
                    size="sm"
                    @click="showDues(item)"
                    >Dues</CButton
                  >
                  <CButton
                    color="danger"
                    variant="outline"
                    square
                    size="sm"
                    @click="blockCandidateModal(item)"
                    >Block</CButton
                  >
                </td>
              </template>
            </CDataTable>
            <CPagination
              :activePage.sync="page"
              :pages="pages"
              size="md"
              @update:activePage="pageChanged()"
              align="start"
            />
          </CCardBody>
        </CCard>
      </CCol>
    </CRow>
    <CModal title="Block Candidate" size="lg" :show.sync="blockModal">
      <CForm @submit.prevent="blockCandidate()" wasValidated>
        <CRow>
          <CCol col="12">
            <CRow>
              <label class="col-form-label col-sm-3" for="blockTill">
                Login blocked till
              </label>

              <CCol col="9" style="padding-left: 10px; margin: 0% 0% 3% 0%">
                <v-date-picker
                  v-model="blockTill"
                  mode="dateTime"
                  :model-config="{
                    type: 'string',
                    mask: 'YYYY-MM-DD HH:mm:ss',
                  }"
                  is-required
                  is24hr
                >
                  <template v-slot="{ inputValue, inputEvents }"
                    ><input
                      class="form-control"
                      required
                      :value="inputValue"
                      v-on="inputEvents"
                    />
                  </template>
                </v-date-picker>
              </CCol>
            </CRow>
          </CCol>

          <CCol col="12" align="center">
            <CButton type="submit" :disabled="disabled" color="danger"
              >Block</CButton
            >
          </CCol>
        </CRow>
      </CForm>

      <CRow>
        <CCol v-show="loading2">
          <CSpinner
            color="warning"
            style="
              width: 2rem;
              height: 2rem;
              position: fixed;
              margin: 4% 0% 0% 30%;
            "
          />
        </CCol>
        <CCol v-show="!loading2" style="margin: 3% 0% 0% 0%">
          <CDataTable
            :items="loginAttemptList"
            :fields="loginAttemptFields"
            hover
            sorter
            striped
            bordered
          >
            <template #isTimeLocked="{ item }">
              <td>
                <CBadge :color="getBadge(item.isTimeLocked)">
                  {{ timeblockedMap[item.isTimeLocked] }}
                </CBadge>
              </td>
            </template>
            <template #additionalInfo="{ item }">
              <td>
                {{
                  item.additionalInfo != ""
                    ? JSON.parse(item.additionalInfo).modelName
                    : ""
                }}
              </td>
            </template>
          </CDataTable>
        </CCol>
      </CRow>
      <div slot="footer-wrapper"></div>
    </CModal>
    <CModal title="Upload" centered :show.sync="candidateUploadModal">
      <CForm @submit.prevent="uploadCandidateExcel()" wasValidated>
        <CRow>
          <CCol col="12">
            <CLink
              href="https://public.coprepedu.com/uploads/2021/Jun/15/21/20/21/SampleCandidate.xlsx"
              target="_blank"
            >
              Please check correct format from Sample before upload
            </CLink>
          </CCol>
          <CCol col="12">
            <CInputFile
              label="Candidate Excel"
              @change="handleFileUpload($event, 'excelFile')"
              placeholder="Select Excel"
            ></CInputFile>
          </CCol>
          <CCol col="12" align="center">
            <CButton type="submit" :disabled="disabled" color="success"
              >Update</CButton
            >
          </CCol>
        </CRow>
      </CForm>
      <div slot="footer-wrapper"></div>
    </CModal>

    <CModal :title="modelTitle" centered size="lg" :show.sync="candidateModal">
      <CForm @submit.prevent="addEditCandidate()" wasValidated>
        <CRow>
          <CCol col="6">
            <CInput
              required
              label="Username"
              v-model="username"
              horizontal
              placeholder="Enter Username"
            />
          </CCol>
          <CCol col="6">
            <CInput
              label="Password"
              required
              v-model="password"
              horizontal
              placeholder="Enter password"
            />
          </CCol>
          <CCol col="6">
            <CInput
              label="Name"
              required
              v-model="name"
              horizontal
              placeholder="Enter Name"
            />
          </CCol>
          <CCol col="6">
            <CInput
              type="email"
              label="Email"
              required
              v-model="email"
              horizontal
              placeholder="Enter email"
            />
          </CCol>
          <CCol col="6">
            <CInput
              label="Mobile"
              required
              v-model="mobile"
              horizontal
              placeholder="Enter mobile"
            />
          </CCol>
          <CCol col="12" align="center">
            <CButton type="submit" :disabled="disabled" color="success"
              >Update</CButton
            >
          </CCol>
        </CRow>
      </CForm>
      <div slot="footer-wrapper"></div>
    </CModal>
  </div>
</template>

<style>
.word-breaker {
  word-break: break-all;
}
</style>


<script>
import { ajaxCallMixin } from "../../components/HttpCommon";
import { localDb } from "../../components/localDb";

const loginAttemptFields = [
  { key: "additionalInfo", label: "Login Device" },
  { key: "loginAt", label: "Login Date And Time" },
  {
    key: "isTimeLocked",
    label: "Status",
    _style: "width:20%",
    sorter: false,
    filter: false,
  },
];
const fields = [
  { key: "name", _style: "width:20%" },
  { key: "email", _style: "width:20%", _classes: "word-breaker" },
  { key: "mobile", _style: "width:20%" },
  { key: "createdAt", _style: "width:20%" },
  {
    key: "actions",
    _style: "width:30%",
    label: "",
    sorter: false,
    filter: false,
  },
];
const timeblockedMap = ["Success", "Blocked"];
export default {
  name: "CandidateList",
  mixins: [ajaxCallMixin, localDb],
  created() {
    this.getCandidateList();
  },

  data() {
    return {
      fields,
      details: [],
      showCandidateList: false,
      courseName: "",
      collapseDuration: 0,
      companyId: this.get("userCompanyId"),
      companyList: [],
      candidateList: [],
      username: "",
      name: "",
      password: "",
      mobile: "",
      email: "",
      candidateId: "",
      candidateModal: false,
      candidateUploadModal: false,
      blockModal: false,
      disabled: false,
      blockTill: "",
      candidateCount: 0,
      fixedToasts: 0,
      message: "",
      hasError: false,
      modelTitle: "",
      pages: 1,
      page: 1,
      filters: {},
      loading: true,
      loading2: true,
      index: 0,
      loginAttemptList: [],
      loginAttemptFields,
      timeblockedMap,
    };
  },

  methods: {
    getBadge(isTimeLocked) {
      switch (isTimeLocked) {
        case "0":
          return "success";
        case "1":
          return "secondary";
        default:
          "primary";
      }
    },
    generateCandidateList(apiResponse) {
      if (apiResponse.error != true) {
        let candidateList = apiResponse.data.candidateList;
        this.showCandidateList = true;
        this.candidateList = candidateList;
        this.candidateCount = apiResponse.data.candidateCount;
        this.pages = Math.ceil(apiResponse.data.candidateCount / 30);
        this.loading = false;
      }
    },
    getCandidateList(offset = 0) {
      this.candidateList = [];
      this.loading = true;
      let param = {};
      let data = {};
      data.offset = offset;
      data.limit = 30;
      data.companyId = this.get("userCompanyId");
      data.filters = this.filters;
      let url = "company/company/getCompanyCandidates";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.generateCandidateList);
    },
    pageChanged() {
      let offset = 30 * (this.page - 1);
      this.getCandidateList(offset);
    },

    addEditCandidate() {
      this.disabled = true;
      this.candidateModal = false;
      let param = {};
      let data = {};
      data.username = this.username;
      data.password = this.password;
      data.name = this.name;
      data.companyId = this.get("userCompanyId");
      data.email = this.email;
      data.mobile = this.mobile;
      data.candidateId = this.candidateId;
      let url = "candidate/candidate/candidateSignUp";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.reloadCandidates);
    },

    editCandidateModal(item, index) {
      this.modelTitle = "Edit Candidate";
      this.disabled = false;
      this.username = item.username;
      this.name = item.name;
      this.password = item.password;
      this.mobile = item.mobile;

      this.email = item.email;
      this.candidateId = item.candidateId;
      this.index = index;
      this.candidateModal = true;
    },
    showAddCandidateModal() {
      this.modelTitle = "Add Candidate";
      this.disabled = false;
      this.username = "";
      this.name = "";
      this.password = "";
      this.index = 0;
      this.mobile = "";
      this.email = "";
      this.candidateId = 0;
      this.candidateModal = true;
    },
    showUploadCandidateModal() {
      this.fields = [];
      this.candidateUploadModal = true;
    },
    reloadCandidates() {
      this.save("candidateCount", 0, "session");
      this.getCandidateList();
    },
    blockCandidateModal(item) {
      this.candidateId = item.candidateId;
      this.blockTill = item.lastLoginAt;
      this.blockModal = true;
      this.getCandidateLoginAttempt(item.candidateId);
    },
    blockCandidate() {
      let param = {};
      let data = {};
      data.candidateId = this.candidateId;
      data.blockedTill = this.blockTill;
      let url = "misc/misc/blockCandidate";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.callBackBlock);
    },
    callBackBlock(apiResponse) {
      if (apiResponse !== true) {
        this.hasError = false;
        this.message = "Candidate Blocked Successfully";
      } else {
        this.message = "Error occured";
        this.hasError = true;
      }
      this.blockModal = false;
      this.fixedToasts++;
    },
    uploadCandidateExcel() {
      let param = {};
      let data = {};
      data.companyId = this.get("userCompanyId");
      let url = "company/company/uploadCandidateExcel";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.callbackUploadCandidateExcel, this.fields);
    },
    callbackUploadCandidateExcel(apiResponse) {
      if (apiResponse !== true) {
        this.hasError = false;
        this.message = apiResponse.message;
      } else {
        this.message = "Error occured";
        this.hasError = true;
      }
      this.candidateUploadModal = false;
      this.fixedToasts++;
    },
    showPurchases(item) {
      this.$router.push(
        "/candidatePurchases/" +
          item.candidateId +
          "/" +
          this.get("userCompanyId")
      );
    },

    showDues(item) {
      this.$router.push("/candidatePayment/" + item.candidateId);
    },
    getCandidateLoginAttempt(candidateId) {
      var param = {};
      var data = {};
      data.limit = 0;
      this.loading2 = true;
      data.candidateId = candidateId;
      var url = "misc/misc/getCandidateLoginAttempts";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.populateCandidateLoginAttempt);
    },
    populateCandidateLoginAttempt(apiResponse) {
      if (apiResponse.error != true) {
        this.loginAttemptList = apiResponse.data.loginAttempts;
        this.loading2 = false;
      }
    },
  },
};
</script>
