<template>
  <CFooter :fixed="false">
    <div>
      <a href="https://coprepedu.com" target="_blank">Coprepedu</a>
      <span class="ml-1">&copy; {{new Date().getFullYear()}} </span>
    </div>
    <div class="ml-auto">
      <span class="mr-1">Powered by</span>
      <a href="https://coprepedu.com" target="_blank">Coprepedu</a>
    </div>
  </CFooter>
</template>

<script>
export default {
  name: 'TheFooter'
}
</script>
