<template>
  <CHeader fixed with-subheader light>
    <CToggler in-header class="ml-3 d-lg-none" @click="$store.commit('toggleSidebarMobile')" />
    <CToggler in-header class="ml-3 d-md-down-none" @click="$store.commit('toggleSidebarDesktop')" />
    <!--     <CHeaderBrand class="mx-auto d-lg-none" to="/">
      <CIcon name="logo" height="48" alt="Logo"/>
    </CHeaderBrand>-->
    <CHeaderNav class="d-md-down-none mr-auto">
      <CHeaderNavItem class="px-3">
        <CHeaderNavLink>
          <CBreadcrumbRouter class="border-0 mb-0" />
        </CHeaderNavLink>
      </CHeaderNavItem>
    </CHeaderNav>
    <CHeaderNav class="mr-4">
      <CHeaderNavItem class="d-md-down-none mx-2" v-if="loginStatus">
        <CHeaderNavLink>
          
          <CButton @click="logout" color="danger" ><CIcon name ="cil-Lock-Locked"/> Logout</CButton>
        </CHeaderNavLink>
      </CHeaderNavItem>

    
    </CHeaderNav>
  </CHeader>
</template>
<script>
import { localDb } from "../components/localDb";

export default {
  mixins:[localDb],
  data() {
    return {
      loginStatus: false 
    };
  },
  mounted(){
    const userCompanyId = this.get("userCompanyId")
    if(userCompanyId) this.loginStatus = true;

  },
  methods: {
    logout() {
      this.remove("userCompanyId");
      this.remove("subscriptionKey");
      this.$router.push({ path: "/" });
    },
  },
};
</script>



