<template>
  <CSidebar fixed :show="show"
   @update:show="(value) => $store.commit('set', ['sidebarShow', value])">
    <CSidebarBrand class="d-md-down-none">
      <CIcon
        name="cib-coreui-c"
        align="left"
        size="xl"
        style="width: 2rem; height: 2.5rem"
        alt="C"
      /><span style="font-size: 1.4rem">Desk</span>
    </CSidebarBrand>
    <CRenderFunction flat :content-to-render="computedNav" />
  </CSidebar>
</template>

<script>
import nav from "./_nav";

export default {
  name: "TheSidebar",
  nav,
  computed: {
    show() {
      return this.$store.state.sidebarShow;
    },
    minimize() {
      return this.$store.state.sidebarMinimize;
    },
    navItems() {
      let featureList = localStorage.getItem("featureList");
      if (featureList) {
        return nav.filter((item) => {
          return !item.featureKey || featureList.includes(item.featureKey);
        });
      }
      return nav;
    },
    computedNav() {
      return [
        {
          _name: "CSidebarNav",
          _children: this.navItems,
        },
      ];
    },
  },
};
</script>
