<template>
  <div>
    <CToaster :autohide="3000" position="bottom-center">
      <template v-for="toast in fixedToasts">
        <CToast
          :key="'toast' + toast"
          :show="true"
          class="text-white"
          :class="{ 'bg-success': !hasError, 'bg-danger': hasError }"
          >{{ message }}</CToast
        >
      </template>
    </CToaster>
    <CRow>
      <CCol col="12">
        <CCard>
          <CCardBody>
            <CForm @submit.prevent="saveQuestionDetails()">
              <h1 class="text-center">Edit question</h1>
              <p class="text-muted text-center">
                Kindly verify all details before submitting
              </p>
              <CRow>
                <CCol sm="10" lg="4">
                  <CInput
                    label="Positive Marks"
                    required
                    v-model="questionData.questionMarks.positiveMarks"
                    placeholder="Enter Positive Marks"
                  />
                </CCol>
                <CCol sm="10" lg="4">
                  <CInput
                    label="Negative Marks"
                    required
                    v-model="questionData.questionMarks.negativeMarks"
                    placeholder="Enter Negative Marks"
                  />
                </CCol>
              </CRow>
              <CRow>
                <CCol col="6">
                  <label for="Question instructions"
                    >Question instructions</label
                  >

                  <quill-editor
                    ref="quillEditor"
                    class="editor"
                    required
                    name="Question instructions"
                    v-model="translations[0].instructions"
                    :options="editorOption"
                    
                  />
                  <label for="Question Statement">Question Statement</label>
                  <quill-editor
                    ref="quillEditor"
                    class="editor"
                    required
                    name="Question Statement"
                    v-model="translations[0].questionStatement"
                    :options="editorOption"
                    
                  />

                  <div v-for="(option, index) in translations[0].options">
                    <label>Option {{ index }}</label>
                    <quill-editor
                      ref="quillEditor"
                      class="editor"
                      required
                      v-model="translations[0].options[index]"
                      :options="editorOption"
                      @blur="onEditorBlur($event)"
                      @focus="onEditorFocus($event)"
                      @ready="onEditorReady($event)"
                    />
                  </div>
                    <div v-for="(value, index) in translations[0].correctAnswer">
                    <CInput
                    label="Correct Answer"
                    required
                    v-model="translations[0].correctAnswer[index]"
                    placeholder="Enter Correct Answer"
                  />
                  
                  </div>
                     <quill-editor
                    ref="quillEditor"
                    class="editor"
                    required
                    label="Solution"
                    v-model="translations[0].solution"
                    :options="editorOption"
                    
                  />
                </CCol>
                <CCol lg="6" sm="12">
                  <label for="Question instructions"
                    >Question instructions</label
                  >

                  <quill-editor
                    ref="quillEditor"
                    class="editor"
                    required
                    label="Question instructions"
                    v-model="translations[1].instructions"
                    :options="editorOption"
                    
                  />

                  <label for="Question Statement">Question Statement</label>

                  <quill-editor
                    ref="quillEditor"
                    class="editor"
                    required
                    label="Question Statement"
                    v-model="translations[1].questionStatement"
                    :options="editorOption"
                    
                  />
                  <div v-for="(value, index) in translations[1].options">
                    <label>Option {{ index }}</label>

                    <quill-editor
                      ref="quillEditor"
                      class="editor"
                      required
                      label="Question Statement"
                      v-model="translations[1].options[index]"
                      :options="editorOption"
                      @blur="onEditorBlur($event)"
                      @focus="onEditorFocus($event)"
                      @ready="onEditorReady($event)"
                    />
                  </div>
                    <div v-for="(value, index) in translations[1].correctAnswer">
                    <CInput
                    label="Correct Answer"
                    required
                    v-model="translations[1].correctAnswer[index]"
                    placeholder="Enter Correct Answer"
                  />
                  
                  </div>
                  <label for="Solution">Solution</label>

                  <quill-editor
                    ref="quillEditor"
                    class="editor"
                    required
                    label="Solution"
                    v-model="translations[1].solution"
                    :options="editorOption"
                    
                  />
                </CCol>
              </CRow>

              <CRow>
                <CCol col="12" class="text-center p-4">
                  <CButton type="submit" :disabled="disabled" color="success"
                    >Save
                  </CButton>
                </CCol>
              </CRow>
            </CForm>
          </CCardBody>
        </CCard>
      </CCol>
    </CRow>
  </div>
</template>

 
<script>
import "quill/dist/quill.core.css";
import "quill/dist/quill.snow.css";

// You can also register Quill modules in the component
import { quillEditor } from "vue-quill-editor";
import { ajaxCallMixin } from "../../components/HttpCommon";
import { localDb } from "../../components/localDb";
export default {
  name: "Edit Test",
  mixins: [ajaxCallMixin, localDb],
  created() {
    this.getToken();
    this.getQuestionDetails();
  },
  components: {
    quillEditor,
  },
  data() {
    return {
      questionData: {},
      translations: {},
      details: [],
      collapseDuration: 0,
      showAlert: false,
      message: "Save successful",
      alertColor: "",
      fixedToasts: 0,
    };
  },
  methods: {
    getQuestionDetails() {
     let param = {};
     let questionId = this.$route.params.questionId;
      let data = { questionId: questionId };
      let url = "qbank/qbank/getQuestionDetails";
      param.data = data;
      param.token = this.token;
      this.ajaxCall(url, param, this.populateList);
    },
    populateList(apiResponse) {
      this.questionData = apiResponse.data.questionDetails;
      this.translations = apiResponse.data.translations;
      this.fixedToasts++;
    },
    saveQuestionDetails() {
     let param = {};
     let questionId = this.$route.params.questionId;
     let data = { questionId: questionId };
     let url = "qbank/qbank/addEditQuestion";
      param.data = data;
      param.token = this.token;
      data.questionDetails = this.questionData;
      data.translations = this.translations;
      this.ajaxCall(url, param, this.populateList);
    },
  },
};
</script>
<style scoped>
label {
  font-weight: bold;
}
</style>