<template>
  <div>
    <CRow>
      <CCol sm="12">
        <CCard>
          <template>
            <CCardBody>
              <CDataTable
                :items="moduleData"
                :fields="fields"
                column-filter
                :items-per-page="20"
                hover
                sorter
                striped
                fixed
                bordered
                pagination
              >
                <template #showQuestions="{ item, index }">
                  <td class="py-2">
                    <CButton
                      color="success"
                      square
                      size="sm"
                      @click="viewQuestion(item, index)"
                      >View Questions
                    </CButton>
                  </td>
                </template>
              </CDataTable>
            </CCardBody>
          </template>
        </CCard>
      </CCol>
    </CRow>
  </div>
</template>

<script>
import { ajaxCallMixin } from "../../components/HttpCommon";
import { localDb } from "../../components/localDb";
const fields = [
  { key: "questionId", _style: "width:10%" },
  { key: "questionStatement", _style: "width:80%" },
  {
    key: "showQuestions",
    label: "",
    _style: "width:20%;",
    sorter: false,
    filter: false,
  },
];
export default {
  name: "Edit Test",
  mixins: [ajaxCallMixin, localDb],
  created() {
    this.getToken();
    this.getModuleQuestions();
  },
  data() {
    return {
      moduleData: {},
      details: [],
      fields,
      collapseDuration: 0,
      showAlert: false,
      message: "",
      alertColor: "",
      fixedToasts: 0,
    };
  },
  methods: {
    getModuleQuestions() {
      let param = {};
      let moduleId = this.$route.params.moduleId;
      let data = { moduleId: [moduleId], cached: false };
      let url = "test/Test/getModuleQuestions";
      param.data = data;
      param.token = this.token;
      this.ajaxCall(url, param, this.populateList);
    },
    populateList(apiResponse) {
      let moduleId = this.$route.params.moduleId;
      this.moduleData = apiResponse.data.questionData[moduleId]["en"];
    },
    viewQuestion(item) {
      this.$router.push("/questionEdit/" + item.questionId);
    },
  },
};
</script>

<style>
</style>