<template>
  <div>
    <CRow>
      <CCol sm="12">
        <CCard>
          <template>
            <CCardBody>
              <CDataTable
                :items="moduleData"
                :fields="fields"
                column-filter
                :items-per-page="20"
                hover
                sorter
                striped
                fixed
                bordered
                pagination
              >
                <template #showQuestions="{ item, index }">
                  <td class="py-2">
                    <CButton
                      color="success"
                      square
                      size="sm"
                      @click="viewQuestion(item, index)"
                      >View Questions
                    </CButton>
                  </td>
                </template>
              </CDataTable>
            </CCardBody>
          </template>
        </CCard>
      </CCol>
    </CRow>
  </div>
</template>

<script>
import { ajaxCallMixin } from "../../components/HttpCommon";
import { localDb } from "../../components/localDb";
const fields = [
  { key: "moduleId", _style: "width:10%" },
  { key: "moduleName", _style: "width:40%" },
  { key: "questionCount", _style: "width:10%" },
  { key: "moduleMaxScore", _style: "width:10%" },
  {
    key: "showQuestions",
    label: "",
    _style: "width:20%;",
    sorter: false,
    filter: false,
  },
];
export default {
  name: "Edit Test",
  mixins: [ajaxCallMixin, localDb],
  created() {
    this.getToken();
    this.getTestModules();
  },
  data() {
    return {
      moduleData:{},
      details: [],
      fields,
      collapseDuration: 0,
      showAlert: false,
      message: "",
      alertColor: "",
      fixedToasts: 0,
    };
  },
  methods: {
    getTestModules() {
      let param = {};
      let testId = this.$route.params.testId;
      let data = { testId: testId };
      let url = "test/Test/getTestModules";
      param.data = data;
      param.token = this.token;
      this.ajaxCall(url, param, this.populateList);
    },
    populateList(apiResponse) {
      this.moduleData = apiResponse.data.moduleData;
    },
    viewQuestion(item){
        this.$router.push("/moduleQuestions/"+item.moduleId);
    }
  },
};
</script>

<style>
</style>