<template>
  <div>
    <CRow>
      <CCol sm="12">
        <CCard>
          <template>
            <CCardBody>
              <!-- <CRow>
        <CCol v-show="loading3">
          <CSpinner
            color="warning"
            style="
              width: 2rem;
              height: 2rem;
              position: fixed;
              margin: 4% 0% 0% 30%;
            "
          />
        </CCol>
        <CCol v-show="!loading3" style="margin: 3% 0% 0% 0%"> -->
              <CDataTable
                :items="items"
                :fields="fields"
                column-filter
                :items-per-page="20"
                hover
                sorter
                striped
                fixed
                bordered
                pagination
              >
                <template #showCandidate="{ item, index }">
                  <td class="py-2">
                    <CButton
                      color="primary"
                      variant="outline"
                      square
                      size="sm"
                      @click="showTestList(item, index)"
                      >Show Test
                    </CButton>
                  </td>
                </template>
              </CDataTable>
            </CCardBody>
          </template>
        </CCard>
      </CCol>
    </CRow>
  </div>
</template>
  
<script>
import { ajaxCallMixin } from "../../components/HttpCommon";
import { localDb } from "../../components/localDb";
const items = [{}];
const fields = [
  { key: "title", _style: "width:40%" },
  { key: "testSeriesType", _style: "width:40%" },
  {
    key: "showCandidate",
    label: "",
    _style: "width:20%;",
    sorter: false,
    filter: false,
  },
];
export default {
  name: "TestSeries List",
  mixins: [ajaxCallMixin, localDb],
  beforeMount() {
    this.getTestSeriesList();
  },
  data() {
    return {
      items: items.map((item, id) => {
        return { ...item, id };
      }),
      fields,
      details: [],
      testseriesName: "",
      // loading3: true,
      collapseDuration: 0,
      companyId: this.get("userCompanyId")
    };
  },
  methods: {
    generateTestSeriesList(apiResponse) {
      if (apiResponse.error != true) {
        let testSeries = apiResponse.data.testSeriesList;
        this.items = testSeries.map((item, id) => {
          item.testSeriesType = item.testSeriesType.title;
          return { ...item, id };
        });
      }
    },
    getTestSeriesList() {
      let param = {};
      let data = {};
      data.limit = 0;
      // this.loading3 = true;
      data.companyId = this.companyId;
      let url = "testSeries/testSeries/getTestSeriesList";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.generateTestSeriesList);
    },
    toggleDetails(item) {
      this.$set(this.items[item.id], "_toggled", !item._toggled);
      this.collapseDuration = 300;
      this.$nextTick(() => {
        this.collapseDuration = 0;
      });
    },
    addTestSeries() {
      this.disabled = true;
      let param = {};
      let data = {};
      data.testseriesName = this.testseriesName;
      let url = "testseries/testseries/addEditTestSeries";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.getTestSeriesList);
      this.testseriesName;
    },
    showTestList(item, index) {
      this.$router.push("/testList/" + item.testSeriesId);
    },
    
  },
};
</script>