<template>
  <div class="login-bdg">
    <CContainer class="d-flex content-center min-vh-100">
      <CRow>
        <CCol>
          <CAlert color="danger" :show.sync="currentAlertCounter">
            Incorrect credentials please check
          </CAlert>
          <CCardGroup>
            <CCard class="p-4">
              <CCardBody>
                <CForm @submit.prevent="loginUser()">
                  <h1>Login</h1>
                  <p class="text-muted">Sign In to your account</p>
                  <CInput
                    id="username"
                    placeholder="Username"
                    autocomplete="username email"
                    v-model="username"
                  >
                    <template #prepend-content
                      ><CIcon name="cil-user"
                    /></template>
                  </CInput>
                  <CInput
                    id="password"
                    placeholder="Password"
                    type="password"
                    autocomplete="curent-password"
                    v-model="password"
                  >
                    <template #prepend-content
                      ><CIcon name="cil-lock-locked"
                    /></template>
                  </CInput>
                  <CRow>
                    <CCol col="6" class="text-left">
                      <CButton type="submit" color="primary" class="px-4"
                        >Login</CButton
                      >
                    </CCol>
                    <CCol col="6" class="text-right">
                      <CButton @click="forgetPassword" class="px-0"
                        >Forgot password?</CButton
                      >
                    </CCol>
                  </CRow>
                </CForm>
              </CCardBody>
            </CCard>
          </CCardGroup>
        </CCol>
      </CRow>
    </CContainer>
  </div>
</template>

<script>
import { ajaxCallMixin } from "../../components/HttpCommon";
import { localDb } from "../../components/localDb";
export default {
  name: "Login",
  data() {
    return {
      currentAlertCounter: 0,
    };
  },
  mixins: [ajaxCallMixin, localDb],
  methods: {
    loginUser: function () {
      let data = { username: this.username, password: this.password };
      let url = "authenticator/auth/loginUser";
      let param = {};
      param.data = data;
      this.ajaxCall(url, param, this.saveLoginUser);
    },
    forgetPassword: function () {
      let data = { username: this.username, password: this.password };
      let url = "authenticator/auth/loginUser";
      let param = {};
      param.data = data;
      this.ajaxCall(url, param);
    },
    saveLoginUser: function (apiResponse) {
      if (apiResponse.error != true && apiResponse.data.roleData.roleId ==1) {
        this.currentAlertCounter = 0;
        this.save("loginUser", apiResponse.data.userData);
        this.save("userCompanyId", apiResponse.data.userData.companyId);
        this.save("token", apiResponse.data.userToken);
        this.save("tokenExpiry", apiResponse.data.expiryTime);
        this.getCompanyFeatures();
        this.$router.push({ name: "Course List", path: "/courseList" });
      } else {
        this.currentAlertCounter = 3;
      }
    },
    getCompanyFeatures() {
      let param = {};
      let companyId = this.get("userCompanyId");
      let data = { companyId: companyId };
      let url = "company/company/getCompanyFeatures";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.generateFeatureList);
    },
    generateFeatureList(apiResponse) {
      if (apiResponse.error !== true) {
        let featureList = [];
        apiResponse.data.companyFeatures.forEach((feature) => {
          if (feature.enabled === "1") {
            featureList.push(feature.featureKey);
          }
        });
        localStorage.setItem("featureList", featureList);
      }
    },
  },
};
</script>

<style>
.login-bdg {
  background-image: url("/img/loginback.jpg");
  background-size: cover;
}
</style>