<template>
  <div>
    <CRow  v-show = "!showCourseTransactions">
           <CCol >
          <CSpinner
            color="warning"
            style="
              width: 2rem;
              height: 2rem;
              position: fixed;
              margin: 4% 0% 0% 30%;
            "
          />
        </CCol>
      </CRow>
    <CRow v-show = "showCourseTransactions">
      <CCol sm="12">
        <CCard>
          <CCardHeader>
            <CRow align-vertical="center">
              <CCol sm="12" class="text-right">
                <CButton color="info"  @click="transactionModal=true">Download Excel File</CButton>
              </CCol>
            </CRow>
          </CCardHeader>
          
            <CCardBody>
              <CRow>
   
        <CCol  style="margin: 3% 0% 0% 0%">
              <CDataTable
                :items="items"
                :fields="fields"
                column-filter
                :items-per-page="20"
                hover
                sorter
                striped
                fixed
                bordered
                pagination
              ></CDataTable>
      </CCol></CRow>
            </CCardBody>
            
         
        </CCard>
      </CCol>
    </CRow>
    <CModal :title="modalTitle" size="lg" :show.sync="transactionModal">
      <TransactionExcel/>
      <div slot="footer-wrapper"></div>
    </CModal>
  </div>
</template>
  
<script>
import { ajaxCallMixin } from "../../components/HttpCommon";
import { localDb } from "../../components/localDb";
import TransactionExcel from "./TransactionExcel";

const items = [{}];
const fields = [
  { key: "name", _style: "width:20%" },
  { key: "email", _style: "width:20%" },
  { key: "mobile", _style: "width:20%" },
  { key: "courseName", _style: "width:10%" },
  { key: "paymentId", _style: "width:20%" },
  { key: "transactionDate", _style: "width:20%" },
];

export default {
  name: "Course List",
  mixins: [ajaxCallMixin, localDb],
  components:{
    TransactionExcel,
  },
  created() {
    this.getCourseTransactions();
  },
  data() {
    return {
      items: items.map((item, id) => {
        return { ...item, id };
      }),
      fields,
      collapseDuration: 0,
      showCourseTransactions:false,
      loading5: true,
      companyList: [],
      transactionModal:false,
      companyId : this.get("userCompanyId"),
      modalTitle: 'Download Transaction Excel'
    };
  },
  methods: {
    generateCompanyList(apiResponse) {
      if (apiResponse.error != true) {
        let companyList = apiResponse.data.companyList;
        apiResponse = "";
        this.companyList = this.changeListToSelect(
          companyList,
          "companyId",
          "companyName"
        );
      }
    },
    getCompanyList() {
      let param = {};
      let data = {};
      let url = "company/company/getCompanyList";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.generateCompanyList);
    },

    generateCourseTList(apiResponse) {
      if (apiResponse.error != true) {
        let course = apiResponse.data.transactionList;
        
        this.items = course.map((item, id) => {
        return { ...item, id };
        });
        this.showCourseTransactions = true;
        this.loading5 = false;
      }

    },
    getCourseTransactions() {
      let param = {};
      let data = {};
      data.limit = 0;
      this.loading5 = true;
      data.companyId = this.companyId;
      let url = "transaction/transaction/getCourseTransactions";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.generateCourseTList);
    }
    

  }
};
</script>