<template>
  <div>
    <CRow>
      <CCol md="12" lg="12" sm="12">
        <CForm style="padding: 2%" @submit.prevent="getTransactionExcel()" wasValidated>
        <CRow>
          <CCol md="12" lg="4" sm="12">
            <CInput
              label="Transaction From"
              type="date"
              v-model="fromDate"
              placeholder="Valid From"
            ></CInput>
          </CCol>
          <CCol md="12" lg="4" sm="12">
            <CInput
              label="Transaction To"
              type="date"
              v-model="toDate"
              placeholder="Valid To"
            ></CInput>
          </CCol>
          <!--CCol col="4" v-show="showFilters">
            <CInputRadioGroup
              label="Transaction type"
              required
              :options="[
                        { value: 'testSeries', label: 'TestSeries'},
                        { value:'course', label: 'Courses'}]"
              :checked.sync="transactionType"
              inline
            />
          </CCol-->

          <CCol md="12" lg="4" sm="12">
            <CSelect
              :value.sync="courseId"
              :options="courseList"
              placeholder="Select Course"
              required
              label="Course"
            />
          </CCol>
          <!--CCol col="4" v-if="transactionType ==='testSeries'">
            <CSelect
              :value.sync="testSeriesId"
              :options="testSeriesList"
              placeholder="Select Test Series"
              label="Test Series"
            />
          </CCol-->
        </CRow>
        <CRow>
          <CCol col="12" align="center">
            <CButton type="submit" :disabled="disabled" color="success">Download</CButton>
          </CCol>
        </CRow>
      </CForm>
     
      </CCol>
    </CRow>

  </div>
</template>
  

<script>
import { ajaxCallMixin } from "../../components/HttpCommon";
import { localDb } from "../../components/localDb";


export default {
  name: "transactionList",
  mixins: [ajaxCallMixin, localDb],
  created() {
    this.getToken();
    this.getCourseList();
  },
  data() {
    return {
      transactionId: 0,
      transactionName: "",
      transactionType: "course",
      fromDate: "",
      toDate: "",
      disabled: false,
      companyList: [],
      courseList: [],
      testSeriesList: [],
      courseId: 0,
      testSeriesId: 0,
      candidateId:0,
      companyId: this.get('userCompanyId'),
      showFilters:true
    };
  },
  methods: {
    generateCompanyList(apiResponse) {
      if (apiResponse.error != true) {
        let companyList = apiResponse.data.companyList;
        apiResponse = "";
        this.companyList = this.changeListToSelect(
          companyList,
          "companyId",
          "companyName"
        );
      }
    },
    getCompanyList() {
      let param = {};
      let data = {};
      let url = "company/company/getCompanyList";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.generateCompanyList);
    },
    downloadExcel(apiResponse) {
      if (apiResponse.error != true) {
        let fileUrl = apiResponse.data.fileUrl;
        if (fileUrl != "") {
          const element = document.createElement("a");
          element.href = fileUrl;
          element.click();
        }
      }
    },
    getTransactionExcel() {
      let param = {};
      let data = {};
      data.companyId = this.companyId;
      data.courseId = this.courseId;
      data.fromDate = this.fromDate;
      data.toDate = this.toDate;
      data.candidateId = this.candidateId;
      data.testSeriesId = this.testSeriesId;
      data.transactionType = this.transactionType,
      data.currentOnly = false;
      let url = "transaction/transaction/getTransactionExcel";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.downloadExcel);
    },
    generateCourseList(apiResponse) {
      if (apiResponse.error != true) {
        let courseList = apiResponse.data.courseList;
        apiResponse = "";
        this.courseList = this.changeListToSelect(
          courseList,
          "courseId",
          "courseName"
        );
      }
    },
    getCourseList() {
      let param = {};
      let data = {};
      data.limit = 0;
      data.companyId = this.companyId;
      let url = "course/course/getVideoCourseList";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.generateCourseList);
    },
    generateTestSeriesList(apiResponse) {
      if (apiResponse.error != true) {
        let testSeriesList = apiResponse.data.testSeriesList;
        apiResponse = "";
        this.testSeriesList = this.changeListToSelect(
          testSeriesList,
          "testSeriesId",
          "title"
        );
      }
    },
    getTestSeriesList() {
      let param = {};
      let data = {};
      data.limit = 0;
      let url = "testSeries/testSeries/getTestSeriesList";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.generateTestSeriesList);
    },
    getExtraFiltersData(){
        this.getCourseList();
        this.getTestSeriesList();
        this.showFilters = true;
    }
  }
};
</script>
