<template>
  <div>
    <CRow>
      <CCol sm="12">
        <CCard>
          <CCardHeader> <CCol sm="2" lg="4">
                <CCallout color="info">
                  <small class="text-muted">Total Payments</small><br />
                  <strong class="h4"> {{ totalPayments }}</strong>
                </CCallout>
              </CCol> </CCardHeader>
          <template>
            
            <CCardBody>
              <CDataTable
                :items="paymentList"
                :fields="fields"
                column-filter
                :items-per-page="20"
                hover
                sorter
                striped
                fixed
                bordered
                pagination
              >
              </CDataTable>
            </CCardBody>
          </template>
        </CCard>
      </CCol>
    </CRow>
  </div>
</template>
<script>
import { ajaxCallMixin } from "../../components/HttpCommon";
import { localDb } from "../../components/localDb";

const fields = [
  { key: "name", _style: "width:10%" },
  { key: "mobile", _style: "width:20%" },
  { key: "amount", _style: "width:10%" },
  { key: "payableOn", _style: "width:20%" },
  { key: "email", _style: "width:20%" },
];

export default {
  name: "PaymentDue",
  mixins: [ajaxCallMixin, localDb],
  created() {},
  data() {
    return {
      paymentList: [],
      fields,
      totalPayments:0,
      collapseDuration: 0,
      showTestSeriesTransactions: false,
      companyId: this.get("userCompanyId"),
    };
  },
  methods: {
    getPaymentDetails() {
      this.showTestSeriesList = false;
      let param = {};
      let data = {};
      data.limit = 0;
      data.filters = {};
      let fromDate = this.currentDateTime();
      data.filters.companyId = this.companyId;
      data.filters.from = fromDate;
      data.orderBy = 1;
      data.filters.status = 1;
      let url = "transaction/payment/getPaymentList";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.generatePaymentList);
    },
    generatePaymentList(apiResponse) {
      this.paymentList = apiResponse.data.paymentList;
      this.totalPayments = apiResponse.data.paymentCount;
    },
    currentDateTime() {
      const current = new Date();
      const date =
        current.getFullYear() +
        "-" +
        (current.getMonth() + 1) +
        "-" +
        current.getDate();
      const time =
        current.getHours() +
        ":" +
        current.getMinutes() +
        ":" +
        current.getSeconds();
      const dateTime = date + " " + time;

      return dateTime;
    },
  },
  mounted() {
    this.getPaymentDetails();
  },
};
</script>