<template>
  <div>
    <CRow>
      <CCol sm="12">
        <CCard>
          <CCardHeader>
            <CCol
              col="3"
              style="
                display: flex;
                flex-direction: column;
                justify-content: center;
              "
            >
              <CButton color="success" @click="showPaymentAddModel()">
                Add Payment
              </CButton>
            </CCol>
            <CCol sm="2" lg="4">
              <CCallout color="info">
                <small class="text-muted">Total Payments</small><br />
                <strong class="h4"> {{ totalPayments }}</strong>
              </CCallout>
            </CCol>
          </CCardHeader>
          <template>
            <CCardBody>
              <CDataTable
                :items="paymentList"
                :fields="fields"
                column-filter
                :items-per-page="20"
                hover
                sorter
                striped
                fixed
                bordered
                pagination
              >
                <template #actions="{ item, index }">
                  <td>
                    <CRow>
                      <CCol col="3">
                        <CButton
                          color="primary"
                          variant="outline"
                          square
                          size="sm"
                          @click="editPaymentModel(item, index)"
                          >Edit</CButton
                        >
                      </CCol>
                      <CCol col="6">
                        <CButton
                          color="primary"
                          variant="outline"
                          square
                          size="sm"
                          @click="printReceipt(item, index)"
                          ><CIcon name="cilPrint"> </CIcon> Reciept</CButton
                        >
                      </CCol>
                    </CRow>
                  </td>
                </template>
              </CDataTable>
            </CCardBody>
          </template>
        </CCard>
      </CCol>
    </CRow>

    <CModal :title="modelTitle" centered size="lg" :show.sync="paymentModel">
      <CForm @submit.prevent="addPayment()" wasValidated>
        <CRow>
          <CCol col="6">
            <CInput
              required
              label="Product Name"
              v-model="item"
              horizontal
              placeholder="Enter Product Name"
            />
          </CCol>
          <CCol col="6">
            <CInput
              required
              label="Amount"
              v-model="amount"
              horizontal
              type="number"
              placeholder="Enter Amount"
            />
          </CCol>
          <CCol col="6">
            <CInput
              label="Payable On"
              required
              type="date"
              v-model="payableOn"
              horizontal
              placeholder="Enter Date"
            />
          </CCol>
          <CCol col="6">
            <CSelect
              label="Status"
              required
              :value.sync="status"
              horizontal
              :options="[
                { value: '1', label: 'Pending' },
                { value: '2', label: 'Paid' },
                { value: '3', label: 'Cancelled' },
              ]"
              placeholder="Select Status"
            />
          </CCol>
          <CCol col="6" v-if="status == 2">
            <CSelect
              label="Payment mode"
              required
              :value.sync="paymentMode"
              horizontal
              :options="[
                { value: '1', label: 'Cash' },
                { value: '2', label: 'Paytm' },
                { value: '3', label: 'Upi' },
                { value: '4', label: 'Net banking' },
                { value: '5', label: 'check' },
              ]"
              placeholder="Select Status"
            />
          </CCol>
          <CCol col="6" v-if="paymentMode != 1">
            <CInput
              label="refrence"
              v-model="reference"
              horizontal
              placeholder="Enter reference"
            />
          </CCol>
          <CCol col="12" align="center">
            <CButton type="submit" :disabled="disabled" color="success"
              >Update</CButton
            >
          </CCol>
        </CRow>
      </CForm>
      <div slot="footer-wrapper"></div>
    </CModal>
  </div>
</template>
<script>
import { ajaxCallMixin } from "../../components/HttpCommon";
import { localDb } from "../../components/localDb";

const fields = [
  { key: "name", _style: "width:10%" },
  { key: "mobile", _style: "width:20%" },
  { key: "amount", _style: "width:10%" },
  { key: "payableOn", _style: "width:20%" },
  {
    key: "actions",
    label: "",
    _style: "width:20%",
    filter: false,
    sorter: false,
  },
];

export default {
  name: "PaymentDue",
  mixins: [ajaxCallMixin, localDb],
  created() {},
  data() {
    return {
      paymentList: [],
      fields,
      totalPayments: 0,
      item: "",
      paymentMode: 1,
      collapseDuration: 0,
      showTestSeriesTransactions: false,
      paymentModel: false,
      disabled: false,
      amount: 0,
      status: 1,
      paymentId: 0,
      payableOn: this.currentDateTime(),
      companyId: this.get("userCompanyId"),
    };
  },
  methods: {
    getPaymentDetails() {
      let param = {};
      let data = {};
      data.limit = 0;
      data.filters = {};
      data.filters.companyId = this.companyId;
      data.filters.candidateId = this.$route.params.candidateId;
      data.orderBy = 1;
      let url = "transaction/payment/getPaymentList";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.generatePaymentList);
    },
    showPaymentAddModel() {
      this.modelTitle = "Add Payment";
      this.disabled = false;
      this.paymentId = 0;
      this.amount = 0;
      this.item = "";
      this.paymentMode = 1;
      this.reference = "";
      this.status = 1;
      this.payableOn = "";
      this.paymentModel = true;
    },
    editPaymentModel(item, index) {
      this.modelTitle = "Edit Payment";
      this.disabled = false;
      this.paymentId = item.paymentId;
      this.amount = item.amount;
      this.item = item.item;
      if (item.paymentMode == null) {
        item.paymentMode = 1;
      }
      this.paymentMode = item.paymentMode;
      this.reference = item.reference;
      this.status = item.status;
      this.payableOn = item.payableOn;
      this.paymentModel = true;
    },
    generatePaymentList(apiResponse) {
      this.paymentList = apiResponse.data.paymentList;
      this.totalPayments = apiResponse.data.paymentCount;
    },
    addPayment() {
      let param = {};
      let data = {};
      data.limit = 0;
      data.companyId = this.companyId;
      data.candidateId = this.$route.params.candidateId;
      data.paymentId = this.paymentId;
      data.amount = this.amount;
      data.item = this.item;
      data.paymentMode = this.paymentMode;
      data.reference = this.reference;
      data.payableOn = this.payableOn;
      data.status = this.status;
      let url = "transaction/payment/addEditPayment";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.addPaymentCallback);
    },
    addPaymentCallback() {
      this.paymentModel = false;
      this.getPaymentDetails();
    },
    currentDateTime() {
      const current = new Date();
      const date =
        current.getFullYear() +
        "-" +
        (current.getMonth() + 1) +
        "-" +
        current.getDate();
      const time =
        current.getHours() +
        ":" +
        current.getMinutes() +
        ":" +
        current.getSeconds();
      const dateTime = date + " " + time;

      return dateTime;
    },
    printReceipt(item) {
      let param = {};
      let data = {};
      data.limit = 0;
      data.paymentId = item.paymentId;
      data.filters = {};
      data.filters.companyId = this.companyId;
      data.filters.candidateId = this.$route.params.candidateId;
      let url = "transaction/payment/getPaymentSlip";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.generatePrintBox);
    },
    generatePrintBox(apiResponse) {
      if(!apiResponse.error){
        this.pdfUrl = apiResponse.data.pdfUrl;
        this.showPrintBox = true;
      }
    },

  },
  mounted() {
    this.getPaymentDetails();
  },
};
</script>