<template>
  <div>
    <CRow class="pb-4 pl-2">
      <CCol class="b-1">
        <CToaster :autohide="3000">
          <template v-for="toast in fixedToasts">
            <CToast
              :key="'toast' + toast"
              :show="true"
              header="Data save Successful"
              color="success"
              >{{ message }}</CToast
            >
          </template>
        </CToaster>
        <CAlert color="success" :show.sync="currentAlertCounter" closeButton>
          {{ message }}
          <CProgress
            :max="10"
            :value="currentAlertCounter"
            height="3px"
            color="success"
            animate
          />
        </CAlert>
      </CCol>
    </CRow>
    <CCard>
      <CCardBody>
        <CRow class="pb-4">
          <CCol col="6">
            <h5>Name : {{ candidateData.name }}</h5>
          </CCol>

          <CCol col="6">
            <h5>Username : {{ candidateData.username }}</h5>
          </CCol>

          <CCol col="6">
            <h5>Email : {{ candidateData.email }}</h5>
          </CCol>

          <CCol col="6">
            <h5>Mobile : {{ candidateData.mobile }}</h5>
          </CCol>
          <CCol col="12">
            <CForm @submit.prevent="mapCandidateCourseTestSeries">
              <CCard>
                <CCardHeader tag="header">
                  <CRow>
                    <CCol col="6" v-show="displayTestSeries"
                      >TestSeries List</CCol
                    >

                    <CCol col="3" v-show="displayTestSeries">Courses</CCol>
                    <CCol col="3" v-show="displayTestSeries"> Valid Till </CCol>
                  </CRow>
                </CCardHeader>
                <CCardBody>
                  <CRow>
                    <CCol col="6" v-show="displayTestSeries">
                      <template
                        v-for="(testSeries, optionIndex) in candidateTestSeries"
                      >
                        <CInputCheckbox
                          :key="optionIndex + testSeries.title"
                          :label="labelTestSeries(testSeries)"
                          :checked.sync="testSeries.purchased"
                        />
                      </template>
                    </CCol>
                    <CCol col="6" v-show="displayTestSeries">
                      <template
                        v-for="(course, optionIndex) in candidateCourses"
                      >
                        <CRow :key="optionIndex + course.courseName">
                          <CCol col="6">
                            <CInputCheckbox
                              :label="labelCourse(course)"
                              :checked.sync="course.purchased"
                            />
                          </CCol>

                          <CCol col="6">
                            <v-date-picker
                              v-model="course.validity"
                              :model-config="{
                                type: 'string',
                                mask: 'YYYY-MM-DD HH:mm:ss', // Uses 'iso' if missing
                              }"
                              mode="dateTime"
                              is24hr
                            >
                              <template v-slot="{ inputValue, inputEvents }">
                                <input
                                  class="
                                    px-2
                                    py-1
                                    border
                                    rounded
                                    focus:outline-none
                                    focus:border-blue-300
                                  "
                                  :value="inputValue"
                                  v-on="inputEvents"
                                />
                              </template>
                            </v-date-picker>
                          </CCol>
                        </CRow>
                      </template>
                    </CCol>
                  </CRow>
                </CCardBody>
              </CCard>
              <CRow>
                <CCol
                  col="6"
                  class="text-center"
                  v-if="activatePaymentPermission"
                >
                  <CButton type="submit" :disabled="disabled" color="success"
                    >Save</CButton
                  >
                </CCol>
              </CRow>
            </CForm>
          </CCol>
        </CRow>
      </CCardBody>
    </CCard>
  </div>
</template>




<script>
import { ajaxCallMixin } from "../../components/HttpCommon";
import { localDb } from "../../components/localDb";
const items = [{}];
const fields = [{ key: "companyName", _style: "width:40%" }];
export default {
  name: "AdvancedTables",
  mixins: [ajaxCallMixin, localDb],
  created() {
    this.getCandidatePurchases();
    this.checkFeature();
  },
  data() {
    return {
      items: items.map((item, id) => {
        return { ...item, id };
      }),
      fields,
      companyId: 0,
      companyList: [],
      details: [],
      currentAlertCounter: 0,
      collapseDuration: 0,
      testSeriesList: [],
      disabled: false,
      candidateCourses: [],
      candidateTestSeries: [],
      candidateData: [],
      price: {},
      displayTestSeries: false,
      fixedToasts: 0,
      activatePaymentPermission: false,
      generateBillPermission: false,
      message: "",
    };
  },
  computed: {
    checkFeature() {
      let featureList = localStorage.getItem("featureList");
      if (featureList.includes("activePayment")) {
        this.activatePaymentPermission = true;
      }
      if (featureList.includes("activePayment")) {
        this.generateBillPermission = true;
      }
    },
  },
  methods: {
    getCandidatePurchases() {
      let param = {};
      let data = {};
      data.limit = 0;
      data.companyId = this.$route.params.companyId;
      data.candidateId = this.$route.params.candidateId;
      let url = "transaction/transaction/getCandidatePurchases";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.populateCandidatePurchases);
    },
    mapCandidateCourseTestSeries() {
      this.disabled = true;
      let data = {};
      data.candidateTestSeries = this.candidateTestSeries;
      data.candidateCourses = this.candidateCourses;
      data.companyId = this.$route.params.companyId;
      data.candidateId = this.$route.params.candidateId;
      let param = {};
      data.limit = 0;
      let url = "transaction/transaction/purchasedFromAdmin";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.callBackaddCompanyTestSeries);
    },
    callBackaddCompanyTestSeries(apiResponse) {
       this.disabled = false;
      this.message = "Test series successfully updated";
      this.alertColor = "success";
      this.currentAlertCounter = 10;
      this.fixedToasts++;
    },
    populateCandidatePurchases(apiResponse) {
      if (apiResponse.error != true) {
        this.candidateTestSeries = apiResponse.data.testSeriesList;
        this.candidateCourses = apiResponse.data.courseList;
        this.candidateData = apiResponse.data.candidateData;
      }
      this.displayTestSeries = true;
      console.log(this.candidateTestSeries);
    },
    labelTestSeries(item) {
      return item.title + " [₹" + item.price + "]";
    },
    labelCourse(item) {
      return item.courseName + " [₹" + item.price + "]";
    },
    validity(item) {
      return item.validity;
    },
    generateBill() {},
  },
};
</script>
