<template>
  <CContainer>
    <TheHeader />
    <CRow class="d-flex content-center min-vh-100">
      <CCol>
        <CAlert color="danger" :show.sync="currentAlertCounter" closeButton>
          {{ message }}
        </CAlert>
        <h2>
          Welcome To
          <CIcon
            name="cib-coreui-c"
            align="left"
            size="xl"
            style="width: 2rem; height: 2.5rem"
            alt="C"
          /><span style="font-size: 1.4rem">Prep</span>
        </h2>
        <CCardGroup>
          <CCard class="p-4">
            <CCardBody>
              <CForm>
                <h2>Enter your Subscription Key</h2>
                <CInput
                  id="subkey"
                  placeholder="Subscription Key"
                  type="password"
                  autocomplete="curent-password"
                  v-model="subKey"
                >
                  <template #prepend-content
                    ><CIcon name="cil-lock-locked"
                  /></template>
                </CInput>
                <CRow>
                  <CCol col="12" class="text-center">
                    <CButton @click="submitKey" color="primary" class="px-4"
                      >Submit</CButton
                    >
                  </CCol>
                  <!--CCol col="6" class="text-right">
                    <CButton @click="forgetKey" class="px-0">Forgot Key?</CButton>
                  </CCol-->
                </CRow>
              </CForm>
            </CCardBody>
          </CCard>
        </CCardGroup>
      </CCol>
    </CRow>
  </CContainer>
</template>


<script>
import { ajaxCallMixin } from "../components/HttpCommon";
import { localDb } from "../components/localDb";
import TheHeader from "../containers/TheHeader";

export default {
  components: {
    TheHeader,
  },
  name: "Subscription",
  data() {
    return {
      currentAlertCounter: 0,
      subKey: "",
      message: "",
    };
  },
  created() {
    this.checkSubStatus();
  },
  mixins: [ajaxCallMixin, localDb],
  methods: {
    submitKey() {
      let data = { subKey: this.subKey };
      let url = "company/company/checkSubscription";
      let param = {};
      param.data = data;
      this.ajaxCall(url, param, this.saveSubKey);
    },
    saveSubKey(apiResponse) {
      if (apiResponse.error != true) {
        if (apiResponse.data.companyId != null) {
          let userCompanyId = apiResponse.data.companyId;
          this.currentAlertCounter = 0;
          this.save("userCompanyId", userCompanyId);
          this.save("subscriptionKey", this.subKey);
          this.getCompanyFeatures();
          this.$router.push({ name: "Course List", path: "/courseList" });
        } else {
          this.currentAlertCounter = 10;
          this.message = apiResponse.message;
          this.subKey = "";
        }
      } else {
        this.currentAlertCounter = 10;
        this.message = apiResponse.message;
      }
    },
    getCompanyFeatures() {
      let param = {};
      let companyId = this.get('userCompanyId');
      let data = { companyId: companyId };
      let url = "company/company/getCompanyFeatures";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.generateFeatureList);
    },
    generateFeatureList(apiResponse) {
      if (apiResponse.error !== true) {
        let featureList = [] 
        apiResponse.data.companyFeatures.forEach((feature) => {
          if (feature.enabled === "1") {
            featureList.push(feature.featureKey)
          }
        });
        sessionStorage.setItem('featureList',featureList);
      }
    },
    checkSubStatus() {
      this.subKey = this.get("subscriptionKey");
      if(this.subKey){
        this.submitKey();
      }
    },
  },
};
</script>
