<template>
  <div>
    <CToaster :autohide="3000" position="bottom-center">
      <template v-for="toast in fixedToasts">
        <CToast
          :key="'toast' + toast"
          :show="true"
          class="text-white"
          :class="{ 'bg-success': !hasError, 'bg-danger': hasError }"
          >{{ message }}</CToast
        >
      </template>
    </CToaster>

    <CRow v-show="showEnquiryList">
      <CCol>
        <CCard>
          <CCardBody>
            <CCardHeader>
              <CButton color="success" @click="showEnquiryModal()"
                >Add Enquiry</CButton
              >
              <CButton
                v-show="false"
                color="success"
                @click="showEnquiryExcelModal()"
                >Upload via Excel</CButton
              >
            </CCardHeader>
            <CDataTable
              :items="enquiryList"
              :fields="fields"
              column-filter
              :items-per-page="10"
              hover
              sorter
              striped
              fixed
              bordered
              pagination
            >
              <template #actions="{ item }">
                <td>
                  <CButton
                    color="primary"
                    variant="outline"
                    square
                    size="sm"
                    @click="editEnquiryModal(item)"
                    >Edit</CButton
                  >
                  <CButton
                    color="danger"
                    variant="outline"
                    square
                    size="sm"
                    @click="deleteEnquiry(item)"
                    >Delete</CButton
                  >
                </td>
              </template>
            </CDataTable>
          </CCardBody>
        </CCard>
      </CCol>
    </CRow>
    <CModal title="Edit Enquiry" centered size="lg" :show.sync="enquiryModal">
      <CForm @submit.prevent="addEditEnquiry()" wasValidated>
        <CRow>
          <CCol lg="6" md="6" sm="12" xs="12">
            <CInput
              label="Name"
              required
              v-model="name"
              placeholder="Enter Name"
            />
          </CCol>
          <CCol lg="6" md="6" sm="12" xs="12">
            <CInput
              type="email"
              label="Email"
              required
              v-model="email"
              placeholder="Enter email"
            />
          </CCol>
          <CCol lg="6" md="6" sm="12" xs="12">
            <CInput
              label="Mobile"
              required
              v-model="mobile"
              placeholder="Enter mobile"
            />
          </CCol>
          <CCol lg="6" md="6" sm="12" xs="12">
            <CInput
              label="Parent's Name"
              required
              v-model="fatherName"
              placeholder="Enter mobile"
            />
          </CCol>

          <CCol lg="6" md="6" sm="12" xs="12">
            <CSelect
              label="Qualification"
              :value.sync="qualification"
              :options="[
                { label: '10+2', value: '1' },
                { label: 'graduate', value: '2' },
                { label: 'post-graduate', value: '2' },
              ]"
              placeholder="Select Qualification"
            />
          </CCol>
          <CCol lg="6" md="6" sm="12" xs="12">
            <CInput
              label="How Did You Find Us"
              v-model="source"
              placeholder="Enter source"
            />
          </CCol>
          <CCol lg="6" md="6" sm="12" xs="12">
            <CTextarea
              label="Address"
              v-model="address"
              placeholder="Enter Address"
            />
          </CCol>
          <CCol lg="6" md="6" sm="12" xs="12">
            <CTextarea
              label="Description"
              v-model="description"
              placeholder="Enter Description"
            />
          </CCol>
          <CCol lg="6" md="6" sm="12" xs="12">
            <CSelect
              label="Status"
              required
              :value.sync="status"
              :options="[
                { label: 'open', value: '1' },
                { label: 'close', value: '2' },
              ]"
              placeholder="Select Status"
            />
          </CCol>
        </CRow>

        <CRow>
          <CCol lg="6" md="6" sm="12" xs="12" align="center">
            <CButton type="submit" :disabled="disabled" color="success"
              >Update</CButton
            >
          </CCol>
          <CCol lg="6" md="6" sm="12" xs="12" align="center">
            <CButton
              :disabled="disabled"
              color="success"
              @click="registerCandidate()"
              >Register Candidate</CButton
            >
          </CCol>
        </CRow>
      </CForm>
      <div slot="footer-wrapper"></div>
    </CModal>
    <CModal
      title="Edit Enquiry"
      centered
      size="lg"
      :show.sync="enquiryExcelModal"
    >
      <CForm @submit.prevent="addEditEnquiry()" wasValidated>
        <CRow>
          <CCol col="12">
            <CInputFile
              required
              label="Enquiry Excel"
              @change="handleFileUpload($event, 'upload')"
              placeholder="select Excel"
            ></CInputFile>
          </CCol>
          <CCol col="12" align="center">
            <CButton type="submit" :disabled="disabled" color="success"
              >Update</CButton
            >
          </CCol>
        </CRow>
      </CForm>
      <div slot="footer-wrapper"></div>
    </CModal>
  </div>
</template>
<style>
.word-breaker {
  word-break: break-all;
}
</style>
<script>
import { ajaxCallMixin } from "../../components/HttpCommon";
import { localDb } from "../../components/localDb";

const items = [{}];
const fields = [
  { key: "name", _style: "width:30%" },
  { key: "email", _style: "width:30%" },
  { key: "mobile", _style: "width:30%" },
  {
    key: "actions",
    _style: "width:20%",
    label: "",
    sorter: false,
    filter: false,
  },
  /*  {
    key: "showVideos",
    label: "",
    _style: "width:20%;",
    sorter: false,
    filter: false
  } */
];
export default {
  name: "EnquiryList",
  mixins: [ajaxCallMixin, localDb],
  created() {
    this.getEnquiryList();
  },
  data() {
    return {
      fields,
      details: [],
      showEnquiryList: false,
      collapseDuration: 0,
      companyId: this.get("userCompanyId"),
      companyList: [],
      enquiryList: [],
      username: "",
      name: "",
      password: "",
      mobile: "",
      email: "",
      enquiryId: "",
      description: "",
      enquiryModal: false,
      enquiryExcelModal: false,
      blockModal: false,
      disabled: false,
      blockTill: "",
      enquiryCount: 0,
      fixedToasts: 0,
      message: "",
      status: 0,
      source: "",
      statusList: [],
      hasError: false,
    };
  },
  methods: {
    /*     generateCompanyList(apiResponse) {
      if (apiResponse.error != true) {
        let companyList = apiResponse.data.companyList;
        apiResponse = "";
        this.companyList = this.changeListToSelect(
          companyList,
          "companyId",
          "companyName"
        );
      }
    },
    getCompanyList() {
      let param = {};
      let data = {};
      let url = "company/company/getCompanyList";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.generateCompanyList);
    },
 */
    generateEnquiryList(apiResponse) {
      if (apiResponse.error != true) {
        let enquiryList = apiResponse.data.enquiryList;
        this.showEnquiryList = true;
        this.enquiryCount = apiResponse.data.enquiryCount;
        this.enquiryList = enquiryList;
        this.save("enquiryList", enquiryList, "session");
        this.save("enquiryCount", apiResponse.data.enquiryCount, "session");
      }
    },
    getEnquiryList() {
      let enquiryCount = this.get("enquiryCount", "session");
      let enquiryList = this.get("enquiryList", "session");
      if (enquiryCount > 0) {
        this.enquiryList = enquiryList;
        this.enquiryCount = enquiryCount;
        this.showEnquiryList = true;
        return;
      }
      this.showEnquiryList = false;
      this.enquiryList = [];
      let param = {};
      let data = {};
      data.limit = 0;
      data.companyId = this.get("userCompanyId");
      let url = "enquiry/enquiry/getEnquiryList";
      param.data = data;
      param.token = this.getToken();
      this.statusList = [
        { label: "open", value: "1" },
        { label: "close", value: "2" },
      ];
      this.ajaxCall(url, param, this.generateEnquiryList);
    },
    toggleDetails(item) {
      this.$set(this.items[item.id], "_toggled", !item._toggled);
      this.collapseDuration = 300;
      this.$nextTick(() => {
        this.collapseDuration = 0;
      });
    },
    deleteEnquiry(item) {
      let param = {};
      let data = {};
      data.enquiryId = item.enquiryId;
      let url = "enquiry/enquiry/deleteEnquiry";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.callBackBlock);
    },
    callBackBlock(apiResponse) {
      if (apiResponse.error !== true) {
        this.hasError = false;
        this.message = "Enquiry Deleted Successfully";
        this.save("enquiryCount", 0, "session");
        this.getEnquiryList();
      } else {
        this.message = "Error occured";
        this.hasError = true;
      }
      this.blockModal = false;
      this.fixedToasts++;
    },
    addEditEnquiry() {
      this.disabled = true;
      this.enquiryModal = false;
      let param = {};
      let data = {};
      data.companyId = this.get("userCompanyId");
      data.name = this.name;
      data.email = this.email;
      data.mobile = this.mobile;
      data.enquiryId = this.enquiryId;
      data.status = this.status;
      data.description = this.description;
      data.source = this.source;
      let url = "enquiry/enquiry/addEditEnquiry";
      param.data = data;
      param.token = this.getToken();
      this.save("enquiryCount", 0, "session");
      this.ajaxCall(url, param, this.getEnquiryList);
    },
    editEnquiryModal(item) {
      this.disabled = false;
      this.name = item.name;
      this.mobile = item.mobile;
      this.email = item.email;
      this.enquiryId = item.enquiryId;
      this.enquiryModal = true;
    },
    showEnquiryModal() {
      this.disabled = false;
      this.name = "";
      this.mobile = "";
      this.email = "";
      this.enquiryId = 0;
      this.enquiryModal = true;
    },
    showEnquiryExcelModal() {
      this.disabled = false;
      this.name = "";
      this.mobile = "";
      this.email = "";
      this.enquiryId = 0;
      this.enquiryExcelModal = true;
    },
    registerCandidate() {
      this.disabled = true;
      this.candidateModal = false;
      let param = {};
      let data = {};
      data.username = this.mobile;
      data.password = this.mobile;
      data.name = this.name;
      data.companyId = this.get("userCompanyId");
      data.email = this.email;
      data.mobile = this.mobile;
      data.candidateId = 0;
      let url = "candidate/candidate/candidateSignUp";
      param.data = data;

      param.token = this.getToken();
      this.ajaxCall(url, param, this.registerCallBack);
      this.addEditEnquiry();
    },
    registerCallBack(apiResponse) {
      if (apiResponse.error !== true) {
        this.$router.push(
          "/candidatePurchases/" +
            apiResponse.data.candidateId +
            "/" +
            this.get("userCompanyId")
        );
        this.hasError = false;
        this.message = "Registration Successful";
      } else {
        this.message = "Error occured";
        this.hasError = true;
      }
      this.fixedToasts++;
    },
  },
};
</script>
