<template>
<label for="">
  <v-date-picker
    v-model="course.validity"
    :model-config="{
      type: 'string',
      mask: 'YYYY-MM-DD HH:mm:ss', // Uses 'iso' if missing
    }"
    mode="dateTime"
    is24hr
  >
    <template v-slot="{ inputValue, inputEvents }">
      <input
         class="bg-white border px-2 py-1 rounded"
        :value="inputValue"
        v-on="inputEvents"
      /> </template
  ></v-date-picker>
</template>

<script>


export class VCal {
  props:{

  }
}
</script>