<template>
  <div>
    <CRow>
      <CCol col="12">
        <CToaster :autohide="3000">
          <template v-for="toast in fixedToasts">
            <CToast
              :key="'toast' + toast"
              :show="true"
              header="Data save Successful"
              color="primary"
            >{{message}}</CToast>
          </template>
        </CToaster>
        <CCard>
          <CCardBody>
            <CForm @submit.prevent="handleAddEvent()" wasValidated>
              <CRow>
                <CCol col="6">
                  <CInput
                    label="Stream Title"
                    v-model="title"
                    horizontal
                    required
                    placeholder="Enter Title"
                  />
                </CCol>
                   <CCol col="6">
            <CSelect
              :value.sync="courseId"
              horizontal
              required

              :options="courseList"
              placeholder="Select Course"
              label="Course"
            />
          </CCol>

                <CCol col="6">
                  <CInput
                    label="Start Date Time"
                    required

                    type="datetime-local"
                    v-model="startDateTime"
                    horizontal
                    placeholder="Start Date Time"
                  ></CInput>
                </CCol>

             
                <CCol col="6">
                  <CInputFile
                    horizontal
                    label="Thumbnail"
                    accept="image/jpeg"
                    @change="handleFileUpload($event, 'thumbnail')"
                    placeholder="Enter Thumbnail"
                  ></CInputFile>
                </CCol>

                <CCol col="3">
                  <CInputCheckbox
                    variant="outline"
                    size="lg"
                    color="success"
                    shape="pill"
                    :checked.sync="chatEnabled"
                    label="Enable Chat"
                  />
                </CCol>
                <CCol col="3">
                  <CSwitch
                    variant="outline"
                    size="lg"
                    color="success"
                    label
                    shape="pill"
                    :checked.sync="isPaid"
                    labelOn="paid"
                    labelOff="free"
                  />
                </CCol>
              </CRow>
              <CRow>
                <CCol col="12" align="center">
                  <CButton type="submit" :disabled="disabled" color="success"
                    >Add Event</CButton
                  >
                </CCol>
              </CRow>
            </CForm>
          </CCardBody>
        </CCard>
      </CCol>
    </CRow>
  </div>
</template>

<script>

import { ajaxCallMixin } from "../../components/HttpCommon";
import { localDb } from "../../components/localDb";
//import { BrowserWindow } from 'electron';
import Axios from 'axios';
import {ipcRenderer} from 'electron';
export default {
  created() {
    this.getCourseList();
  },
  name: "AddLiveStream",
  data() {
    return {
      title:'',
      fixedToasts: 0,
      startDateTime:'',
      streamId:0,
      endDateTime:'',
      disabled:false,
      message:'',
      streamKey:'',
      courseId:0,
      password:'',
      courseList:[],
      url:'',
    };
  },
  mixins: [ajaxCallMixin, localDb],
  methods: {
    addCourseStream(){
      let param = {};
      let courseId = this.courseId;
      let data = { courseId: courseId };
      data.videoId = this.streamId;
      data.title = this.title;
      data.chatEnabled = this.chatEnabled;
      data.duration = 60;
      data.eventDateTime = this.startDateTime;
      data.streamUrl = this.url;
      let url = "course/course/addVideoToCourse";
      data.password = this.password;
      data.streamKey = this.streamKey
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.addStreamResponse, this.fields);
    },
    addStreamResponse(apiResponse){
      if(apiResponse.error != true){
      this.fixedToasts++;
      this.message = "Event added successfuly";
      this.disabled = false
      }
      else{
        this.fixedToasts++;
        this.message = "Event add fail"
        this.disabled = false;
      }
    },
    handleAddEvent(){
        this.disabled = true;
        const metadata = {};
        metadata.title = this.title;
        metadata.startDateTime = this.startDateTime;
        metadata.description = "Cdesk Educational Video"
        ipcRenderer.send('add-event',metadata);
    },
     generateCourseList(apiResponse) {
      if (apiResponse.error != true) {
        let courseList = apiResponse.data.courseList;
        apiResponse = "";
        this.courseList = this.changeListToSelect(
          courseList,
          "courseId",
          "courseName"
        );
      }
    },
    getCourseList() {
      let param = {};
      let data = {};
      data.limit = 0;
      data.companyId = this.get('userCompanyId');
      let url = "course/course/getVideoCourseList";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.generateCourseList);
    },
   
  },
  mounted(){
      ipcRenderer.on('add-event-success',(e,urlKey)=>{
        this.url = `https://www.youtube.com/watch?v=${urlKey[0]}`;
        this.streamKey = urlKey[1];
        console.log(this.streamKey)
        this.addCourseStream()
      })
  },
};
</script>
