<template>
  <div>
    <CRow>
      <CCol col="12">
        <CToaster :autohide="3000">
          <template v-for="toast in fixedToasts">
            <CToast
              :key="'toast' + toast"
              :show="true"
              header="Success"
              color="primary"
            >{{message}}</CToast>
          </template>
        </CToaster>
        <CCard>
          <CCardBody>
            <CForm @submit.prevent="handleStartStream" wasValidated>
              <CRow>
                <!--CCol col="6">
                  <CInput
                    label="Video Title"
                    v-model="title"
                    horizontal
                    placeholder="Enter Title"
                  />
                </CCol-->
                   <CCol col="12">
                      <CSelect
                        :value.sync="courseId"
                        horizontal
                        required
                        @change="getVideoList"
                        :options="courseList"
                        placeholder="Select Course"
                        label="Course"
                        :disabled="disabled"
                      />
                    </CCol>
                  <CCol col="12">
                      <CSelect
                        :value.sync="videoId"
                        horizontal
                        required
                        @change="loadStreamKeys"
                        :options="videoList"
                        placeholder="Select Video"
                        label="Video"
                        :disabled="selectCourse||disabled"
                      />
                    </CCol>

                <!--CCol col="6">
                  <CInput
                    label="Start Date Time"
                    required

                    type="datetime-local"
                    v-model="startDateTime"
                    horizontal
                    placeholder="Start Date Time"
                  ></CInput>
                </CCol>

                 <CCol col="6">
                  <CInput
                    label="End Date Time"
                    required

                    type="datetime-local"
                    v-model="endDateTime"
                    horizontal
                    placeholder="End Date Time"
                  ></CInput>
                </CCol-->
              
                <!--CCol col="6">
                  <CInputFile
                    horizontal
                    label="Thumbnail"
                    accept="image/jpeg"
                    @change="handleFileUpload($event, 'thumbnail')"
                    placeholder="Enter Thumbnail"
                  ></CInputFile>
                </CCol>

                <CCol col="3">
                  <CInputCheckbox
                    variant="outline"
                    size="lg"
                    color="success"
                    shape="pill"
                    :checked.sync="chatEnabled"
                    label="Enable Chat"
                  />
                </CCol-->
              </CRow>
              <CRow>
                <CCol col="6" align="center">
                  <CButton type="submit" :disabled="disabled" color="success"
                    >Start Stream</CButton
                  >
                </CCol>
                <CCol col="6" align="center">
                  <CButton type="button" @click="handleEndStream" :disabled="!disabled" color="success"
                    >End Stream</CButton
                  >
                </CCol>
              </CRow>
            </CForm>
          </CCardBody>
        </CCard>
      </CCol>
    </CRow>
     <CModal :title="modalTitle" size="sm" :show.sync="errorModal">
      {{errorMessage}}
      <div slot="footer-wrapper"></div>
    </CModal>
  </div>
</template>

<script>

import { ajaxCallMixin } from "../../components/HttpCommon";
import { localDb } from "../../components/localDb";
//import { BrowserWindow } from 'electron';
import Axios from 'axios';
import {ipcRenderer} from 'electron';
export default {
  created() {
    this.getCourseList();
  },
  name: "LiveStream",
  data() {
    return {
      title:'',
      fixedToasts: 0,
      startDateTime:'',
      endDateTime:'',
      disabled:false,
      message:'',
      courseId:'',
      courseList:[],
      videoList:[],
      videoId:'',
      streamKeys:{},
      selectCourse:true,
      errorMessage:'',
      modalTitle:'Error Occured',
      errorModal:false,
    };
  },
  mixins: [ajaxCallMixin, localDb],
  methods: {
     generateVideoList(apiResponse) {
      if (apiResponse.error != true) {
         let videoList = apiResponse.data.videoList;
        this.videoList = this.changeListToSelect(videoList,"videoId","title");
        this.selectCourse = false;
        for(let [key,obj] of Object.entries(videoList)){
          this.streamKeys[obj.videoId] = obj.streamkey
        }
      }
    },
    getVideoList() {
      let param = {};
      let courseId = this.courseId;
      let data = { courseId: courseId };
      let url = "course/course/getVideoCourseDetails";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.generateVideoList);
    },
    generateCourseList(apiResponse) {
      if (apiResponse.error != true) {
        let courseList = apiResponse.data.courseList;
        apiResponse = "";
        this.courseList = this.changeListToSelect(courseList,"courseId","courseName");
      }
    },
    getCourseList() {
      let param = {};
      let data = {};
      data.limit = 0;
      data.companyId = this.get('userCompanyId');
      let url = "course/course/getVideoCourseList";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.generateCourseList);
    },
    loadStreamKeys(){
      ipcRenderer.send('add-stream-keys',this.streamKeys[this.videoId])
    },
    handleStartStream(){
      ipcRenderer.send('open-obs')
    },
    handleEndStream(){
      this.disabled = false;
      this.remove('streamInfo')
    },
    checkStreamStatus(){
      let info = this.get('streamInfo')
      const streamInfo = !!info ? JSON.parse(info) : false
      if(streamInfo){
        this.disabled = streamInfo.disabled;
        this.courseId = streamInfocourseId;
        this.getVideoList();
        this.videoId = streamInfo.videoId;
      }
    },
    handleExceptions(msg){
        this.errorMessage = msg;
        this.errorModal = true;
    },
    storeStreamInfo(msg){
      this.disabled = true;
      this.fixedToasts++;
      this.message = msg;
      const streamInfo = {
        disabled:this.disabled,
        courseId:this.courseId,
        videoId:this.videoId
      }
      this.save('streamState',JSON.stringify(streamInfo))
    }
  },
  mounted(){
    ipcRenderer.on('error-OBS',(e,msg)=>{
      this.handleExceptions(msg)
    });
    ipcRenderer.on('success-OBS',(e,msg)=>{
      this.storeStreamInfo(msg)
    });
    this.checkStreamStatus();
  }
};
</script>
