<template>
  <div>
    <CRow>
      <CCol col="12">
        <CToaster :autohide="3000">
          <template v-for="toast in fixedToasts">
            <CToast
              :key="'toast' + toast"
              :show="true"
              header="Data save Successful"
              color="primary"
            >{{message}}</CToast>
          </template>
        </CToaster>
        <CCard>
          <CCardBody>
            <CForm @submit.prevent="uploadVideo()" wasValidated>
              <CRow>
                <CCol col="6">
                  <CInput
                    label="Video Title"
                    v-model="title"
                    horizontal
                    required
                    placeholder="Enter Title"
                  />
                </CCol>
                   <CCol col="6">
            <CSelect
              :value.sync="courseId"
              horizontal
                    required

              :options="courseList"
              placeholder="Select Course"
              label="Course"
            />
          </CCol>

                <CCol col="6">
                  <CInput
                    label="Class Time"
                    required

                    type="datetime-local"
                    v-model="eventDateTime"
                    horizontal
                    placeholder="Class Time"
                  ></CInput>
                </CCol>

                <CCol col="6">
                  <CInputFile
                    required
                    accept="video/*"
                    horizontal
                    label="video"
                    @change="handleFileUpload($event, 'video')"
                    placeholder="Enter video"
                  ></CInputFile>
                </CCol>
                <CCol col="6">
                  <CInputFile
                    horizontal
                    label="Thumbnail"
                    @change="handleFileUpload($event, 'thumbnail')"
                    placeholder="Enter Thumbnail"
                  ></CInputFile>
                </CCol>

                <CCol col="6">
                  <CInputFile
                    horizontal
                    label="PDF"
                    @change="handleFileUpload($event, 'pdf')"
                    placeholder="Select pdf"
                  ></CInputFile>
                </CCol>
                <CCol col="3">
                  <CInputCheckbox
                    variant="outline"
                    size="lg"
                    color="success"
                    shape="pill"
                    :checked.sync="chatEnabled"
                    label="Enable Chat"
                  />
                </CCol>

                <CCol col="3">
                  <CSwitch
                    variant="outline"
                    size="lg"
                    color="success"
                    label
                    shape="pill"
                    :checked.sync="isPaid"
                    labelOn="paid"
                    labelOff="free"
                  />
                </CCol>
              </CRow>
              <CRow>
                <CCol col="12" align="center">
                  <CButton type="submit" :disabled="disabled" color="success"
                    >Upload Video</CButton
                  >
                </CCol>
              </CRow>
            </CForm>
          </CCardBody>
          <CCardFooter>
            <CProgress
              :value="percentage"
              color="success"
              animated
              showPercentage =true
              precision="2"
              show-value
              style="height:20px;"
              class="mt-1"
            />
          </CCardFooter>
        </CCard>
      </CCol>
    </CRow>
  </div>
</template>

<script>
import { CLIENT_SECRET } from "../../constants/Constant";
import { CLIENT_ID } from "../../constants/Constant";
import { ACCESS_TOKEN } from "../../constants/Constant";

import { ajaxCallMixin } from "../../components/HttpCommon";
import { localDb } from "../../components/localDb";

export default {
  created() {
    this.getCourseList();
  },
  name: "VideoUpload",
  data() {
    return {
      percentage: 0,
      videoFile: "",
      fields: [],
      courseList:[],
      videoId: 0,
      url:"",
      fixedToasts: 0,
      courseId:0,
      ratioCompleted:0
    };
  },
  mixins: [ajaxCallMixin, localDb],
  methods: {
    addCourseVideo() {
      this.fields["video"] = undefined;
      let param = {};
      let courseId = this.courseId;
      let data = { courseId: courseId };
      data.videoId = this.videoId;
      data.title = this.title;
      data.source = 2;
      data.url = this.url;
      data.isPaid = this.isPaid;
      data.chatEnabled = this.chatEnabled;
      data.duration = 60;
      data.password = this.password;
      data.eventDateTime = this.eventDateTime;
      let url = "course/course/addVideoToCourse";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.addVideoResponse, this.fields);
      this.ratioCompleted = 0 ;
    },
    addVideoResponse(apiResponse){
       if (apiResponse.error != true) {
            this.fixedToasts++;
      this.currentAlertCounter = 10;
      this.message = "Video added, Successful";
      this.alertColor = "success";
      this.disabled = false;
      }
      else{
      this.fixedToasts++
      this.currentAlertCounter = 10;
      this.message = "Video add Failed, if progress bar showing 100% contact Cprep";
      this.alertColor = "warning";
      this.disabled = false;
      }
    },
    uploadVideo() {
      this.disabled = true;
      let filename = this.fields["video"].path;
      let Vimeo = require("vimeo").Vimeo;
      let client = new Vimeo(CLIENT_ID, CLIENT_SECRET, ACCESS_TOKEN);
      client.upload(
        filename,
        {
          name: this.title,
          description: this.title,
          license:"by",
          embed:{
            volume:true,
            title:{
              potrait:"hide",
              owner:"hide",
              name:"hide"
            },
            buttons:{
              share:false,
              scaling:true,
              hd:true,
              fullscreen:true,
              embed:false,
              share:false,
              watchlater:false,
              color:"white"
            },
            logos:{
              vimeo:false
            },
            playbar:true,
            volume:true
          },
          privacy:{
            embed:"public",
            view:"unlisted",
            add:false,
            comments:"anybody",
            download:false
          },
          upload:{approach:"tus"}
        },
        this.getVideoLink,
        this.displayPercentage,
        function(error) {
          alert("Failed because: " + error);
        }
      );
    },
    getVideoLink(uri){
      let Vimeo = require("vimeo").Vimeo;
      let client = new Vimeo(CLIENT_ID, CLIENT_SECRET, ACCESS_TOKEN);
      client.request(uri + '?fields=link', function (error, body, statusCode, headers) {
      if (error) {
         this.fixedToasts++
      this.currentAlertCounter = 10;
      this.message = 'Server reported: ' + error;
      this.alertColor = "warning";
      this.disabled = false;
      return
    }
    this.url= body.link;
    this.addCourseVideo();

})
    },
    displayPercentage(bytes_uploaded, bytes_total) {
      this.ratioCompleted = bytes_uploaded / bytes_total;
      this.percentage = Math.round(this.ratioCompleted * 100, 2);
      const remote = require("electron").remote;
      let win = remote.getCurrentWindow();
      win.setProgressBar(this.ratioCompleted);
    },
    generateCourseList(apiResponse) {
      if (apiResponse.error != true) {
        let courseList = apiResponse.data.courseList;
        apiResponse = "";
        this.courseList = this.changeListToSelect(
          courseList,
          "courseId",
          "courseName"
        );
      }
    },
    getCourseList() {
      let param = {};
      let data = {};
      data.limit = 0;
      data.companyId = this.get("userCompanyId");
      let url = "course/course/getVideoCourseList";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.generateCourseList);
    },
    /* convertVideo(filename){
            let pathToFfmpeg = require('ffmpeg-static');
      let ffmpeg = require('fluent-ffmpeg');
      let command = ffmpeg(filename).videoCodec('libx264').setFfmpegPath(pathToFfmpeg).fps(24).format('mp4').on('error', function(err) {
    console.log('An error occurred: ' + err.message);
  })
  .on('end', function() {
    console.log('Processing finished !');
  })  .on('start', function(commandLine) {
    console.log('Spawned Ffmpeg with command: ' + commandLine);
  })
  .on('progress', function(progress) {
    console.log('Processing: ' + progress.percent + '% done');
  })
  .save("/home/devanshu/workspace/output.mp4");
      return;
    } */
  },
};
</script>
