<template>
  <div>
    <CRow>
      <CCol col="12">
        <CToaster :autohide="3000">
          <template v-for="toast in fixedToasts">
            <CToast
              :key="'toast' + toast"
              :show="true"
              header="Data save Successful"
              color="primary"
            >{{message}}</CToast>
          </template>
        </CToaster>
        <CCard>
          <CCardBody>
            <CForm @submit.prevent="handleVideoUpload()" wasValidated>
              <CRow>
                <CCol col="6">
                  <CInput
                    label="Video Title"
                    v-model="title"
                    horizontal
                    required
                    placeholder="Enter Title"
                  />
                </CCol>
                   <CCol col="6">
            <CSelect
              :value.sync="courseId"
              horizontal
                    required

              :options="courseList"
              placeholder="Select Course"
              label="Course"
            />
          </CCol>

                <CCol col="6">
                  <CInput
                    label="Class Time"
                    required

                    type="datetime-local"
                    v-model="eventDateTime"
                    horizontal
                    placeholder="Class Time"
                  ></CInput>
                </CCol>

                <CCol col="6">
                  <CInputFile
                    required
                    accept="video/*"
                    horizontal
                    label="video"
                    @change="handleFileUpload($event, 'video')"
                    placeholder="Enter video"
                  ></CInputFile>
                </CCol>
                <CCol col="6">
                  <CInputFile
                    horizontal
                    label="Thumbnail"
                    accept="image/jpeg"
                    @change="handleFileUpload($event, 'thumbnail')"
                    placeholder="Enter Thumbnail"
                  ></CInputFile>
                </CCol>

                <CCol col="6">
                  <CInputFile
                    horizontal
                    label="PDF"
                    @change="handleFileUpload($event, 'pdf')"
                    placeholder="Select pdf"
                  ></CInputFile>
                </CCol>
                <CCol col="3">
                  <CInputCheckbox
                    variant="outline"
                    size="lg"
                    color="success"
                    shape="pill"
                    :checked.sync="chatEnabled"
                    label="Enable Chat"
                  />
                </CCol>

                <CCol col="3">
                  <CSwitch
                    variant="outline"
                    size="lg"
                    color="success"
                    label
                    shape="pill"
                    :checked.sync="isPaid"
                    labelOn="paid"
                    labelOff="free"
                  />
                </CCol>
              </CRow>
              <CRow>
                <CCol col="12" align="center">
                  <CButton type="submit" :disabled="disabled" color="success"
                    >Upload Video</CButton
                  >
                </CCol>
              </CRow>
            </CForm>
          </CCardBody>
          <CCardFooter v-if="uploadInProgress">
            <CProgress
              :value="percentage"
              color="success"
              animated
              :showPercentage="true"
              precision="2"
              show-value
              style="height:20px;"
              class="mt-1"
            />
          </CCardFooter>
        </CCard>
      </CCol>
    </CRow>
  </div>
</template>

<script>

import { ajaxCallMixin } from "../../components/HttpCommon";
import { localDb } from "../../components/localDb";
//import { BrowserWindow } from 'electron';
import Axios from 'axios';
import {ipcRenderer} from 'electron';
const remote = require("electron").remote;
let win = remote.getCurrentWindow();
export default {
  created() {
    this.getCourseList();
  },
  name: "VideoUpload",
  data() {
    return {
      percentage: 0,
      videoFile: "",
      fields: [],
      courseList:[],
      videoId: 0,
      url:"",
      title:"",
      fixedToasts: 0,
      courseId:0,
      ratioCompleted:0,
      disabled:false,
      message:"",
      eventDateTime:"",
      uploadInProgress:false,
    };
  },
  mixins: [ajaxCallMixin, localDb],
  methods: {
    addCourseVideo() {
      this.fields["video"] = undefined;
      let param = {};
      let courseId = this.courseId;
      let data = { courseId: courseId };
      data.videoId = this.videoId;
      data.title = this.title;
      data.source = 2;
      data.url = this.url;
      data.isPaid = this.isPaid;
      data.chatEnabled = this.chatEnabled;
      data.duration = 60;
      data.password = this.password;
      data.eventDateTime = this.eventDateTime;
      let url = "course/course/addVideoToCourse";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.addVideoResponse, this.fields);
      this.ratioCompleted = 0 ;
    },
    addVideoResponse(apiResponse){
       if (apiResponse.error != true) {
        this.uploadInProgress = false
        this.fixedToasts++;
        this.currentAlertCounter = 10;
        this.message = "Video added, Successful";
        this.alertColor = "success";
        win.setProgressBar(this.ratioCompleted);
        this.disabled = false;
      }
      else{
      this.fixedToasts++
      this.currentAlertCounter = 10;
      this.message = "Video add Failed, if progress bar showing 100% contact Cprep";
      this.alertColor = "warning";
      this.disabled = false;
      }
    },
    handleVideoUpload(){
      this.disabled = true;
      const metadata = {
        filename:this.fields['video'].path,
        title:this.title,
        description:"Cdesk Educational Video"}
      metadata.thumbnail = this.fields['thumbnail'] ? this.fields['thumbnail'].path : false
      ipcRenderer.send("upload-video-start",metadata);
    },
    displayPercentage(bytes_uploaded, bytes_total) {
      this.ratioCompleted = bytes_uploaded / bytes_total;
      this.percentage = Math.round(this.ratioCompleted * 100, 2);
      win.setProgressBar(this.ratioCompleted);
    },
    generateCourseList(apiResponse) {
      if (apiResponse.error != true) {
        let courseList = apiResponse.data.courseList;
        apiResponse = "";
        this.courseList = this.changeListToSelect(
          courseList,
          "courseId",
          "courseName"
        );
      }
    },
    getCourseList() {
      let param = {};
      let data = {};
      data.limit = 0;
      data.companyId = this.get('userCompanyId');
      let url = "course/course/getVideoCourseList";
      param.data = data;
      param.token = this.getToken();
      this.ajaxCall(url, param, this.generateCourseList);
    },
    /* convertVideo(filename){
            let pathToFfmpeg = require('ffmpeg-static');
      let ffmpeg = require('fluent-ffmpeg');
      let command = ffmpeg(filename).videoCodec('libx264').setFfmpegPath(pathToFfmpeg).fps(24).format('mp4').on('error', function(err) {
    console.log('An error occurred: ' + err.message);
  })
  .on('end', function() {
    console.log('Processing finished !');
  })  .on('start', function(commandLine) {
    console.log('Spawned Ffmpeg with command: ' + commandLine);
  })
  .on('progress', function(progress) {
    console.log('Processing: ' + progress.percent + '% done');
  })
  .save("/home/devanshu/workspace/output.mp4");
      return;
    } */
  },
  mounted(){
    ipcRenderer.once('upload-progress',()=>{
        this.uploadInProgress = true
    }),
     ipcRenderer.on('upload-progress',(e,bytes)=>{
      this.displayPercentage(bytes[0],bytes[1])
    }),
    ipcRenderer.on('upload-complete',(e,videoId)=>{
      this.url = `https://www.youtube.com/watch?v=${videoId}`;
      this.addCourseVideo()
    })
  },
};
</script>
