<template>
  <div>
    <label class="col-form-label col-sm-3" for="value"> {label}</label>
    >
    <v-date-picker
      v-model="value"
      mode="dateTime"
      :model-config="{
        type: 'string',
        mask: 'YYYY-MM-DD HH:mm:ss',
      }"
      is-required
      is24hr
    >
      <template v-slot="{ inputValue, inputEvents }"
        ><input
          class="form-control"
          required
          :value="inputValue"
          v-on="inputEvents"
        />
      </template>
    </v-date-picker>
  </div>
</template>

<script>
import Vue from 'vue';

export default {
  name:'VCal',
  props: {
    value: { type: "string" },
    label: { type: "string" },
  },
  data() {
    return { value };
  },
  template: ''
};
</script>